    <div style=" margin-bottom: -; position: inherit; bottom: inherit; margin-top: 10px; clear: both;">
        <p style="margin: 0px; padding: 0px; text-align: center; color: rgb(64, 62, 57); font-family: 'Helvetica Neue', 微软雅黑, Tohoma; font-size: 12px; line-height: 21.600000381469727px;">Copyright © 2013 - 2023 QMusicVip.<a href="http://www.zhangzhipeng2023.cn/" target="_blank" style="color: rgb(64, 62, 57); text-decoration: none;">All Rights Reserved.</a></p>
        <p style="margin: 0px; padding: 0px; text-align: center; color: rgb(64, 62, 57); font-family: 'Helvetica Neue', 微软雅黑, Tohoma; font-size: 12px; line-height: 21.600000381469727px;">张志鹏&nbsp;<a href="http://www.zhangzhipeng2023.cn/" target="_blank" style="color: rgb(64, 62, 57); text-decoration: none;">版权所有</a>(By:<a href="http://t.qq.com/QMusicVip" target="_blank">张志鹏yi</a>)</p>
    </div>
