{%extends "mainpagelayout.html"%} 
<!--==动态加载title的方法-->
{% block title %}歌手详情页面{% endblock title %}

 {%block content%}
		<div id="masthead">
			<div class="container">
				<div class="masthead-pad">

					<div class="masthead-text">
						<h2>歌手详情</h2>
						<p>音乐云数据，全方面积聚歌手相关信息，定量化、客观掌控歌手资讯</p>
					</div>
					<!-- /.masthead-text -->
				</div>
			</div>
			<!-- /.container -->
		</div>
		<!-- /#masthead -->


		<div id="content">
			<div class="container">
				<div class="alert alert-success">
					<button data-dismiss="alert" class="close" type="button">×</button>
					本页面集合歌手方方面面信息数据，定量化分析，客观掌握歌手资讯
				</div>
				<section id="tables">
					<h2>歌手信息详情</h2>
					<table class="table table-bordered table-striped table-highlight">
						<thead>
							<tr>
								<th>歌手</th>
								<th>歌曲</th>
								<th>播放次数</th>
								<th>播放排名</th>
								<th>播放电台</th>
								<th>电台排名</th>
								<th>播放时长</th>
								<th>版权费总计</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>王力宏</td>
								<td>龙的传人</td>
								<td>2280次</td>
								<td>第7名</td>
								<td>山东广播电台</td>
								<td>10</td>
								<td>11000分钟</td>
								<td>￥3300元版权费</td>
							</tr>
							<tr>
								<td>王力宏</td>
								<td>大城小爱</td>
								<td>1130次</td>
								<td>第19名</td>
								<td>山东广播电台</td>
								<td>8名</td>
								<td>5400分钟</td>
								<td>￥1620元版权费</td>
							</tr>
							<tr>
								<td>林忆莲</td>
								<td>听说爱情回来过</td>
								<td>909次</td>
								<td>第70名</td>
								<td>北京交通广播</td>
								<td>20</td>
								<td>4500分钟</td>
								<td>￥1350元版权费</td>
							</tr>
							<tr>
								<td>林忆莲</td>
								<td>至少还有你</td>
								<td>828次</td>
								<td>第96名</td>
								<td>安徽交通广播</td>
								<td>18</td>
								<td>4400分钟</td>
								<td>￥1320元版权费</td>
							</tr>
							<tr>
								<td>张靓颖</td>
								<td>我们说好的</td>
								<td>1920次</td>
								<td>第13名</td>
								<td>江苏广播电台</td>
								<td>20</td>
								<td>4200分钟</td>
								<td>￥1260元版权费</td>
							</tr>
							<tr>
								<td>张靓颖</td>
								<td>如果这就是爱情</td>
								<td>1207次</td>
								<td>第31名</td>
								<td>湖南广播电台</td>
								<td>9</td>
								<td>3600分钟</td>
								<td>￥1080元版权费</td>
							</tr>
							<tr>
								<td>杨宗纬</td>
								<td>其实都没有</td>
								<td>1111次</td>
								<td>第34名</td>
								<td>湖南广播电台</td>
								<td>10</td>
								<td>3200分钟</td>
								<td>￥960元版权费</td>
							</tr>
							<tr>
								<td>王菲</td>
								<td>因为爱情</td>
								<td>1136次</td>
								<td>第36名</td>
								<td>北京交通广播</td>
								<td>8</td>
								<td>2900分钟</td>
								<td>￥570元版权费</td>
							</tr>
							<tr>
								<td>王菲</td>
								<td>我愿意</td>
								<td>1110次</td>
								<td>第40名</td>
								<td>北京交通广播</td>
								<td>18</td>
								<td>2300分钟</td>
								<td>￥690元版权费</td>
							</tr>
						</tbody>
					</table>
					</section>
					<br />
					<h2>地区偏好分析:</h2>
					<div class="alert alert-success">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Hi!</strong> Best wishes for your favorite artist~
					</div>
					
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>地区</th>
								<th>最具影响力电台</th>
								<th>影响分析</th>
								<th>播放歌曲影响</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>北京</td>
								<td>北京交通广播</td>
								<td>流行歌曲就是被经常播放的歌曲，大众心理中的流行流行至少是熟悉的。多次播放可以增加熟悉度，可以在举办演唱会之前进行试水，或以增加认知度</td>
								<td>国际化城市,广播主播大多视野广阔,节目过程中经常飙英语。广播内容多以轻松笑话，路况信息，旅游见闻，访谈之类的为主。
									听众多为出租车司机和开车人士，通过司机耳濡目染的传播可以快速传播演唱会信息，消费力也有保证。北京大型场地周边交通也较方便</td>
							</tr>
							<tr>
								<td>山东</td>
								<td>山东广播电台</td>
								<td>地区偏好，稳定性、针对性更强，相应做出规避调整。</td>
								<td>从数据上看，爱好播放王力宏歌曲，并且播放次数和排名都靠前。其他信息参照如上</td>
							</tr>
							<tr>
								<td>江西</td>
								<td>江西广播电台</td>
								<td>地区偏好特别明显，稳定性尤其稳固，应相应做出规避调整</td>
								<td>红色歌曲大本营，电台循环播放革命经典歌曲如浏阳河，打起手鼓唱起歌，万泉河水清又清，红旗飘飘，南泥湾，映山红</td>
							</tr>
							<tr>
								<td>江苏</td>
								<td>江苏广播电台</td>
								<td>老汤经久不衰，雨花台地挥洒</td>
								<td>对流行歌曲的追捧程度较高，大众倾向较大，多数人喜好的歌手较受欢迎，消费力居上。</td>
							</tr>
							<tr>
								<td>湖南</td>
								<td>湖南广播电台</td>
								<td>娱乐气息很浓的城市，娱乐开发程度高，有搞头</td>
								<td>娱乐大本营，对音乐以及娱乐信息把握敏锐，对选秀歌手有特殊情节</td>
							</tr>
						</tbody>
					</table>
					<br />
				</section>

				<div class="row">
					<div class="span8">
						<ol class="faqList">
							<li>
								<h4>How can I get my own domain name?</h4>
								<p>The Internet Corporation for Assigned Names and Numbers
									(ICANN) maintains a list of accredited registrars . Any of the
									companies on this list can register a domain name for you..</p>

							</li>

							<li>
								<h4>How can I block my hosting service's advertisements?</h4>
								<p>Check the Terms of Service (TOS) agreement for your
									hosting service. It almost certainly prohibits interfering with
									the advertisements they add to your web pages. If you use some
									trick to block their advertisements on your own, then your
									hosting service may delete your account for violating its TOS.</p>

							</li>

							<li>

								<h4>How do I redirect someone to another page?</h4>
								<p>The most reliable way is to configure the server to send
									out a redirection instruction when the old URL is requested.
									Then the browser will automatically get the new URL. This is
									the fastest and most efficient way, and is the only way
									described here that can convince indexing robots to phase out
									the old URL. For configuration details consult your server
									admin or documentation (with NCSA or Apache servers, use a
									Redirect statement in .htaccess).</p>
								<p>If you can't set up a redirect, there are other
									possibilities. These are inferior because they tell the search
									engines that there's still a page at the old location, not that
									the page has moved to a new location. But if it's impossible
									for you to configure redirection at your server, here are two
									alternatives:</p>
							</li>

							<li>
								<h4>How do I password protect my web site?</h4>
								<p>Password protection is done through HTTP authentication.
									The configuration details vary from server to server, so you
									should read the authentication section of your server
									documentation. Contact your server administrator if you need
									help with this.</p>
								<p>JavaScript password scripts provide only a facade of
									security. At a fundamental level, they work in one of two ways.
									Some scripts convert the password into a URL, which keeps the
									document secret by limiting the number of people who know its
									URL. Some scripts check the password and then go to a specific
									URL, which protects the document only from those who don't view
									the JavaScript source to get the URL of the document. Neither
									mechanism is really secure.</p>

							</li>

							<li>

								<h4>How do I stop my page from being cached?</h4>
								<p>Browsers cache web documents; they store local copies of
									documents to speed up repeated references to documents that
									haven't changed. Also, many browsers are configured to use
									public proxy caches, which serve many users (e.g., all
									customers of an ISP, or all employees behind a corporate
									firewall). To effectively control how your documents are cached
									you must configure your server to send appropriate HTTP
									headers.</p>
								<p>The Expires header is understood by virtually all caches.
									The cached document will be retrieved again automatically once
									it has expired. The Expires header must contain an HTTP date,
									which must be Greenwich Mean Time (GMT), not local time.</p>

							</li>

							<li>
								<h4>How can I disable the browser's right-click options?</h4>
								<p>These scripts annoy visitors who lose ready access to
									their browsers' normal context-menu functions (e.g., "Open in
									new window" or "Bookmark link"). These scripts can also
									interfere with features like mouse gestures. Nothing (including
									these scripts) can prevent anyone from copying your source or
									images. The browser cannot display your document without the
									source and images, so your web server must send them to the
									browser. Even without the various "save" functions in today's
									browsers, someone can retrieve your source or images from the
									browser's cache, request them from the server with some other
									tool, or use a screen-capture tool to copy the images. These
									scripts do nothing when JavaScript is disabled or unavailable,
									when JavaScript access to right-click events is disabled, on
									systems without mice, or on systems with single-button mice.</p>

							</li>

							<li>

								<h4>How do I hide my URL?</h4>
								<p>You can't. URLs are fundamental to navigation on the WWW.
									The URL is necessary for the browser to be able to retrieve
									your document. It is impossible to hide the URL of a resource
									from the browser.</p>

							</li>

							<li>

								<h4>How do I detect what browser is being used?</h4>
								<p>Many browsers identify themselves when they request a
									document. A CGI script will have this information available in
									the HTTP_USER_AGENT environment variable, and it can use that
									to send out a version of the document which is optimized for
									that browser.</p>
								<p>Keep in mind not all browsers identify themselves
									correctly. For example, Microsoft Internet Explorer identifies
									itself as Netscape Navigator, and many other browsers identify
									themselves as Microsoft Internet Explorer.</p>
								<p>And of course, if a cache proxy keeps a version intended
									for one brower, someone with another browser may get that
									version, rather than the version intended for the other
									browser.</p>

							</li>

							<li>

								<h4>How do I get my visitors' email addresses?</h4>
								<p>You can't. Although each request for a document is
									usually logged with the name or address of the remote host, the
									actual username is almost never logged as well. This is mostly
									because of performance reasons, as it would require that the
									server uses the ident protocol to see who is on the other end.
									This takes time. And if a cache proxy is doing the request, you
									don't get anything sensible.</p>
								<p>But just stop to think for a minute... would you really
									want every single site you visit to know your email address?
									Imagine the loads of automated thank you's you would be
									receiving. If you visited 20 sites, you would get at least 20
									emails that day, plus no doubt they would send you invitations
									to return later. It would be a nightmare as well as an invasion
									of privacy!</p>

							</li>

							<li>
								<h4>Why is my custom 404 Not Found message not displayed?</h4>
								<p>If only Internet Explorer ignores your custom 404 Not
									Found messages, then you've been caught by its "friendly" HTTP
									error messages. When a special HTTP response (e.g., a 404 Not
									Found response) is shorter than 512 bytes, Internet Explorer
									substitutes its own message for the one delivered by the
									server. As a user of Internet Explorer, you can disable this
									feature in the "Advanced" options panel. As a web author, your
									only recourse is to make your 404 Not Found message longer.</p>

							</li>

						</ol>

					</div>
					<!-- /.span8 -->


					<div class="span4">


						<a href="javascript:;"
							class="btn btn-large btn-primary btn-block btn-big-block">Ask
							A Question</a> <a href="javascript:;"
							class="btn btn-large btn-tertiary btn-block btn-big-block">Contact
							Support</a>


						<div class="well">

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation
								ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
								aute irure dolor in reprehenderit in voluptate velit esse cillum
								dolore eu fugiat nulla pariatur. Excepteur sint occaecat
								cupidatat non proident, sunt in culpa qui officia deserunt
								mollit anim id est laborum.</p>


							<p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint
								occaecat cupidatat non proident, sunt in culpa qui officia
								deserunt mollit anim id est laborum.</p>
						</div>
						<!-- /.well -->


					</div>
					<!-- /.span4 -->

				</div>
				<!-- /.row -->


			</div>
			<!-- /.container -->

		</div>
		<!-- /#content -->

	</div>
	<!-- /#wrapper -->

{%endblock%}