{%extends "mainpagelayout.html"%} 
<!--==动态加载title的方法-->
{% block title %}电台详情页面{% endblock title %}
 {%block content%}
<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				<h2>电台详情页面</h2>
				<p>丰富多样的表格用于统计自定义数据</p>
			</div> <!-- /.masthead-text -->
			
		</div>
		
	</div> <!-- /.container -->	
	
</div> <!-- /#masthead -->




<div id="content">

	<div class="container">
				
		<div class="row">
			
			<div class="span6">
				
				<h3>树状图：</h3>
				
				<hr />
				
				<div id="vertical-chart" class="chart-holder"></div> <!-- /#vertical-chart -->
				
			</div> <!-- /.span6 -->
			
			<div class="span6">
				
				<h3>百分比：</h3>
				
				<hr />
				
				<div class="cirque-stats">
					<div class="ui-cirque" data-value="2875" data-total="3245" data-arc-color="#4074AA" data-label="ratio"></div>
			        <div class="ui-cirque" data-value="13" data-arc-color="#BBBBBB"></div>
			        <div class="ui-cirque" data-value="63" data-total="225" data-arc-color="#2790B0" data-label="ratio"></div>
			        <div class="ui-cirque" data-value="40" data-arc-color="#999999"></div>
					<div class="ui-cirque" data-value="72" data-arc-color="#222222" data-label="ratio"></div>
			        <div class="ui-cirque" data-value="57" data-arc-color="#94BA65"></div>
			    </div> <!-- /.cirque-stats -->
				
			</div> <!-- /.span6 -->
									
		</div> <!-- /row -->
				
		<div class="row">
			
			<div class="span6">
				
				<h3>线性图：</h3>
				
				<hr />
				
				<div id="line-chart" class="chart-holder"></div> <!-- /#line-chart -->
				
			</div> <!-- /.span6 -->
			
			<div class="span6">
				
				<h3>Donut Chart</h3>
				
				<hr />
				
				<div id="donut-chart" class="chart-holder"></div> <!-- /#donut-chart -->
				
			</div> <!-- /.span6 -->
									
		</div> <!-- /row -->
				
		<div class="row">
			
			<div class="span6">
				
				<h3>饼状图：</h3>
				
				<hr />
				
				<div id="pie-chart" class="chart-holder"></div> <!-- /#pie-chart -->
				
			</div> <!-- /.span6 -->
			
			<div class="span6">
				
				<h3>切片图：</h3>
				
				<hr />
				
				<div id="horizontal-chart" class="chart-holder"></div> <!-- /#horizontal-chart -->
				
			</div> <!-- /.span6 -->
									
		</div> <!-- /row -->
		
		

	</div> <!-- /container -->

</div> <!-- /#content -->

</div> <!-- /#wrapper -->



{%endblock%}