
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<head>
<title>{%block title %}home{% endblock title%}</title>

<meta charset="utf-8">

<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800"> -->
<link rel="stylesheet" href="/static/css/page1css/application.css">
<link rel="stylesheet" href="/static/css/page1css/bootstrap.css">
<link rel="stylesheet" href="/static/css/page1css/bootstrap.min.css">
<link rel="stylesheet"
	href="/static/css/page1css/bootstrap-responsive.min.css">
<link rel="stylesheet"
	href="/static/css/page1css/bootstrap-responsive.css">
<link rel="stylesheet" href="/static/css/page1css/cirque.css">
<!-- <link rel="stylesheet" href="/static/css/page1css/css.css"> -->

<link rel="stylesheet" href="/static/css/page1css/dashboard.css">
<!-- <link rel="stylesheet" href="/static/css/page1css/light-theme.css"> -->
<link rel="stylesheet" href="/static/css/page1css/font-awesome.css">
<link rel="stylesheet" href="/static/css/page1css/font-awesome.min.css">
<link rel="stylesheet"
	href="/static/css/page1css/jquery-ui-1.8.21.custom.css">
<link rel="stylesheet" href="/static/css/page1css/reports.css">
<link rel="stylesheet" href="/static/css/page1css/ttklink.css">



</head>

<body>

	<div id="wrapper">

		<div id="topbar">

			<div class="container">

				<a href="javascript:;" id="menu-trigger" class="dropdown-toggle"
					data-toggle="dropdown" data-target="#"> <i class="icon-cog"></i>
				</a>

				<div id="top-nav">
					<ul class="pull-right">
						<li>
							<!-- #搜索查询框
							<div class="input-append">
								<input class="span2" id="appendedInputButton" type="text"
									placeholder="查询歌曲/歌手详情...">
								<button class="btn" type="button">
									<i class="icon-search"> 搜索</i>
								</button>
							</div> <!-- #搜索查询框end --> <i class="icon-search"></i> <input
							action="/search" class="search" type="text" value="{{searchvalue}}" placeholder="查询歌曲/歌手详情...">
						</li> {% if username %}
						<li><i class="icon-user"></i> 您好，{{username}}</li>
						<li><a href="/mainpage"><span class="badge badge-primary">1</span>
								信息</a></li>
						<li class="dropdown"><a href="/setting"
							class="dropdown-toggle" data-toggle="dropdown"> 用户设置 <b
								class="caret"></b>
						</a>
							<ul class="dropdown-menu pull-right">
								<li><a href="javascript:;">Settings #1</a></li>
								<li><a href="javascript:;">Settings #2</a></li>
								<li class="dropdown-submenu"><a tabindex="-1" href="#">Dropdown
										menu</a>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#">Second level link</a></li>
										<li><a tabindex="-1" href="#">Second level link</a></li>
										<li><a tabindex="-1" href="#">Second level link</a></li>
									</ul></li>
							</ul></li>
						<li><a href="/userlogout">退出登陆</a></li> 
						{%else %}
						<li><i class="icon-user"></i> 您好游客，您还未登陆</li>
						<li><a href="/userlogin/?next=/">登陆</a></li>
						<li><a href="/usersignup/?next=/">注册</a></li> 
						{%endif%}
					</ul>

				</div>
				<!-- /#top-nav -->

			</div>
			<!-- /.container -->

		</div>
		<!-- /#topbar -->




		<div id="header">

			<div class="container">

				<a href="/mainpage" class="brand">Sonidigg音乐人增值系统主页面</a> <a
					href="javascript:;" class="btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <i class="icon-reorder"></i>
				</a>

				<div class="nav-collapse">

					<ul id="main-nav" class="nav pull-right">
						<li class ={{mainpage}}><a href="/mainpage" class="nav-icon active"> <i
								class="icon-home"></i>
						</a></li>
						<li class={{artistdetails}}><a href="/artistdetails"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="icon-music"></i> <span>歌手详情</span> <b class="caret"></b>
						</a>

							<ul class="dropdown-menu">
								<li><a href="./elements.html">Elements</a></li>
								<li><a href="./validation.html">Validation</a></li>
								<li><a href="./jqueryui.html">jQuery UI</a></li>
								<li><a href="./charts.html">Charts</a></li>
								<li><a href="./bonus.html">Bonus Elements</a></li>
								<li class="dropdown-submenu"><a tabindex="-1" href="#">Dropdown
										menu</a>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#">Second level link</a></li>
										<li><a tabindex="-1" href="#">Second level link</a></li>
										<li><a tabindex="-1" href="#">Second level link</a></li>
									</ul></li>
							</ul></li>
						<li class={{chart}}><a href="/chart" class="dropdown-toggle" data-toggle="dropdown"> 
						<i class="icon-rss"></i> <span>电台详情</span>
								<b class="caret"></b>
						</a>

							<ul class="dropdown-menu">
								<li><a href="./elements.html">Elements</a></li>
								<li><a href="./validation.html">Validation</a></li>
								<li><a href="./jqueryui.html">jQuery UI</a></li>
								<li><a href="./charts.html">Charts</a></li>
								<li><a href="./bonus.html">Bonus Elements</a></li>
								<li class="dropdown-submenu"><a tabindex="-1" href="#">Dropdown
										menu</a>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#">Second level link</a></li>
										<li><a tabindex="-1" href="#">Second level link</a></li>
										<li><a tabindex="-1" href="#">Second level link</a></li>
									</ul></li>
							</ul></li>



						<li class={{reports}}><a href="/reports"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="icon-cloud-download"></i> <span>数据中心</span> <b
								class="caret"></b>
						</a>

							<ul class="dropdown-menu">
								<li><a href="./faq.html">FAQ</a></li>
								<li><a href="./gallery.html">Image Gallery</a></li>
								<li><a href="./pricing.html">Pricing Plans</a></li>
								<li><a href="./reports.html">Reports</a></li>
								<li><a href="./settings.html">Settings</a></li>
							</ul></li>

						<li class={{price}}><a href="/price" class="dropdown-toggle" data-toggle="dropdown">
						 <i class="icon-lightbulb"></i> <span>版权费页面</span>
								<b class="caret"></b>
						</a>

							<ul class="dropdown-menu">
								<li><a href="./login.html">Login</a></li>
								<li><a href="./signup.html">Signup</a></li>
								<li><a href="./error.html">Error</a></li>
								<li><a href="./skins.html">Skins</a></li>
								<li><a href="./sticky.html">Sticky Footer</a></li>
							</ul></li>
						<li class={{otherpage}}><a href="/otherpage"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="icon-random"></i> <span>其他页面</span> <b class="caret"></b>
						</a>

							<ul class="dropdown-menu">
								<li><a href="./login.html">Login</a></li>
								<li><a href="./signup.html">Signup</a></li>
								<li><a href="./error.html">Error</a></li>
								<li><a href="./skins.html">Skins</a></li>
								<li><a href="./sticky.html">Sticky Footer</a></li>
							</ul></li>
					</ul>

				</div>
				<!-- /.nav-collapse -->

			</div>
			<!-- /.container -->

		</div>
		<!-- /#header -->

		{%block content%} {%endblock%}

		<div id="footer">

			<div class="container">

				<div class="row">

					<div class="span6">
						© 2013 <a href="http://www.sonidigg.com">Sonidig数音堂</a>all rights
						reserved，使用保留开发者权益
					</div>
					<!-- /span6 -->

					<div id="builtby" class="span6">
						<a href="http://github.com/zhangtianyi1234">Writen by
							zhangtianyi1234</a>
					</div>
					<!-- /.span6 -->

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /#footer -->
		<script src="/static/js/page1js/bootstrap.min.js"></script>
		<script src="/static/js/page1js/Charts.js"></script>
		<script src="/static/js/page1js/cirque.js"></script>
		<script src="/static/js/page1js/demo.reports.js"></script>
		<script src="/static/js/page1js/donut.js"></script>
		<script src="/static/js/page1js/excanvas.min.js"></script>
		<script src="/static/js/page1js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/page1js/jquery.flot.js"></script>
		<script src="/static/js/page1js/jquery.flot.pie.js"></script>
		<script src="/static/js/page1js/jquery.flot.resize.js"></script>
		<script src="/static/js/page1js/jquery.flot.orderBars.js"></script>
		<script src="/static/js/page1js/jquery.flot.tooltip.min.js"></script>
		<script src="/static/js/page1js/jquery.flot.resize.js"></script>
		<script src="/static/js/page1js/jquery-ui-1.8.21.custom.min.js"></script>
		<script src="/static/js/page1js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/page1js/line.js"></script>
		<script src="/static/js/page1js/modernizr-2.5.3.min.js"></script>
		<script src="/static/js/page1js/pie.js"></script>
		<script src="/static/js/page1js/statistics.do"></script>
		<script src="/static/js/page1js/Theme.js"></script>
		<script src="/static/js/page1js/vertical.js"></script>
		<script src="/static/js/page1js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/page1js/jquery-ui-1.8.21.custom.min.js"></script>
		<script src="/static/js/page1js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/page1js/faq.js"></script>
		<script src="/static/js/page1js/bootstrap/bootstrap.min.js"></script>
		<script src="/static/js/page1js/Theme.js"></script>
		<script src="/static/js/page1js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/page1js/jquery-ui-1.8.21.custom.min.js"></script>
		<script src="/static/js/page1js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/page1js/faq.js"></script>
		<script src="/static/js/page1js/bootstrap/bootstrap.min.js"></script>
		<script src="/static/js/page1js/Theme.js"></script>
		<script src="/static/js/page1js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/page1js/jquery-ui-1.8.21.custom.min.js"></script>
		<script src="/static/js/page1js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/page1js/bootstrap/bootstrap.min.js"></script>
		<script src="/static/js/page1js/Theme.js"></script>
		<script src="/static/js/page1js/Charts.js"></script>
		<script src="/static/js/page1js/excanvas/excanvas.min.js"></script>
		<script src="/static/js/page1js/cirque.js"></script>
		<script src="/static/js/page1js/jquery.flot.js"></script>
		<script src="/static/js/page1js/jquery.flot.pie.js"></script>
		<script src="/static/js/page1js/jquery.flot.orderBars.js"></script>
		<script src="/static/js/page1js/jquery.flot.tooltip.min.js"></script>
		<script src="/static/js/page1js/jquery.flot.resize.js"></script>
		<script src="/static/js/page1js/vertical.js"></script>
		<script src="/static/js/page1js/pie.js"></script>
		<script src="/static/js/page1js/donut.js"></script>
		<script src="/static/js/page1js/line.js"></script>
		<script src="/static/js/page1js/horizontal.js"></script>
		<script src="/static/js/page1js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/page1js/jquery-ui-1.8.21.custom.min.js"></script>
		<script src="/static/js/page1js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/page1js/bootstrap.min.js"></script>
		<script src="/static/js/page1js/cirque.js"></script>
		<script src="/static/js/page1js/excanvas.min.js"></script>
		<script src="/static/js/page1js/jquery.flot.js"></script>
		<script src="/static/js/page1js/jquery.flot.pie.js"></script>
		<script src="/static/js/page1js/jquery.flot.orderBars.js"></script>
		<script src="/static/js/page1js/jquery.flot.tooltip.min.js"></script>
		<script src="/static/js/page1js/jquery.flot.resize.js"></script>
		<script src="/static/js/page1js/Theme.js"></script>
		<script src="/static/js/page1js/Charts.js"></script>
		<script src="/static/js/page1js/demo.reports.js"></script>
		<script src="/static/js/page1js/vertical.js"></script>
		<script src="/static/js/page1js/pie.js"></script>
		<script src="/static/js/page1js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/page1js/jquery-ui-1.8.21.custom.min.js"></script>
		<script src="/static/js/page1js/jquery.ui.touch-punch.min.js"></script>
		<script src="/static/js/page1js/bootstrap.min.js"></script>
		<script src="/static/js/page1js/cirque.js"></script>
		<script src="/static/js/page1js/excanvas.min.js"></script>
		<script src="/static/js/page1js/jquery.flot.js"></script>
		<script src="/static/js/page1js/jquery.flot.pie.js"></script>
		<script src="/static/js/page1js/jquery.flot.orderBars.js"></script>
		<script src="/static/js/page1js/jquery.flot.tooltip.min.js"></script>
		<script src="/static/js/page1js/jquery.flot.resize.js"></script>
		<script src="/static/js/page1js/Theme.js"></script>
		<script src="/static/js/page1js/Charts.js"></script>
		<script src="/static/js/page1js/demo.reports.js"></script>
		<script src="/static/js/page1js/vertical.js"></script>
		<script src="/static/js/page1js/pie.js"></script>
		
		<script>
			$(function() {
				Theme.init();
			});
		</script>
</body>
