{%extends "mainpagelayout.html"%} 
<!--==动态加载title的方法-->
{% block title %}用户信息主页{% endblock title %}

 {%block content%}
		<div id="masthead">
			<div class="container">
				<div class="masthead-pad">
					<div class="masthead-text">
						<h2>用户信息主页</h2>
						<p>您现在监管{{maincounts.artist_count}}名歌手,共计{{maincounts.song_count}}首歌曲</p>
					</div>
					<!-- /.masthead-text -->
				</div>
			</div>
			<!-- /.container -->

		</div>
		<!-- /#masthead -->
		<div id="content">
			<div class="container">
				<div class="row">
					<div class="span4">
						<h3>欢迎回来,{{username}}</h3>
						<p>
							您现在查看的是Sonidigg音乐人增值系统主页面 <br /> <a href="/artistdetails">查看歌曲，艺人监控反馈详情</a>.
						</p>
					<!--#数据总量显示		
											{
					    "code":200,
					    "preview_info":{
					        "artist_count":10077,
					        "play_num":124018,
					        "play_time":7681014,
					        "song_count":41681
					    }
					}
					<!---#数据总量显示-->
						<table class="table stat-table">
							<tbody>
								<tr>
									<td class="value">{{maincounts.song_count}}首</td>
									<td class="full">监控总歌曲数</td>
								</tr>
								<tr>
									<td class="value">{{maincounts.artist_count}}名</td>
									<td class="full">监控的总歌手数</td>
								</tr>
								<tr>
									<td class="value">{{maincounts.play_num}}次</td>
									<td class="full">监控歌手总播放数</td>
								</tr>
								<tr>
									<td class="value">{{maincounts.play_time}}秒</td>
									<td class="full">监控歌曲播放总时长（秒）</td>
								</tr>
								<tr>
									<td class="value">{{moneycount}}元</td>
									<td class="full">版权费用总计</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="span8">
						<div id="line-chart" class="chart-holder"></div>
						<!-- /#bar-chart -->
					</div>
					<!-- /.span8 -->

				</div>
				<!-- /.row -->
								<!--  #电台播放次数柱状图-->
				<div class="row">

					<div class="span6">

						<h3>柱状图：</h3>

						<hr />

						<div id="vertical-chart" class="chart-holder"></div>
						<!-- /#vertical-chart -->
					</div>
					<!-- /.span6 -->

<!-- /.前十歌手显示 -->
					<div class="span6">
						<h3 class="title">一周歌手播放次数排行榜</h3>
						<table class="table">
							<thead>
								<tr>
									<th>排名</th>
									<th>歌手名</th>
									<th>播放次数</th>
									<th>播放时长</th>
								</tr>
							</thead>

							<tbody>
							{% for artist in artistlines%}
								<tr>
								{%if artist.rank < 4%}
									<td><span class="label label-primary">{{artist.rank}}</span></td>
									<td class="full"><a href="#">{{artist.artist}}</a></td>
									<td class="who">{{artist.play_num}}</td>
									<td class="who">{{artist.play_time}}</td>
								{%else%}
									<td><span class="label label-secondary">{{artist.rank}}</span></td>
									<td class="full"><a href="#">{{artist.artist}}</a></td>
									<td class="who">{{artist.play_num}}</td>
									<td class="who">{{artist.play_time}}</td>
								</tr>
								{%endif%}
								{%endfor%}
								<!-- # -
								<tr>
									<td><span class="label label-primary">2</span></td>
									<td class="full"><a href="#">王力宏</a></td>
									<td class="who">3444</td>
								</tr>
								<tr>
									<td><span class="label label-primary">3</span></td>
									<td class="full"><a href="#">周笔畅</a></td>
									<td class="who">2900</td>
								</tr>
								<tr>
									<td><span class="label label-danger">4</span></td>
									<td class="full"><a href="#">孙楠</a></td>
									<td class="who">2880</td>
								</tr>
								<tr>
									<td><span class="label label-secondary">5</span></td>
									<td class="full"><a href="#">厉娜</a></td>
									<td class="who">2740</td>
								</tr>
								<tr>
									<td><span class="label label-danger">6</span></td>
									<td class="full"><a href="#">苏醒</a></td>
									<td class="who">2700</td>
								</tr>
								<tr>
									<td><span class="label label-secondary">7</span></td>
									<td class="full"><a href="#">黄英</a></td>
									<td class="who">2380</td>
								</tr>
								<tr>
									<td><span class="label label-secondary">8</span></td>
									<td class="full"><a href="#">周杰伦</a></td>
									<td class="who">1820</td>
								</tr>
									<!-- # -->
							</tbody>
						</table>
					</div>
<!-- /.前十歌手显示结束-->
					<!-- /.span6 -->

				</div>
				<!-- /.row -->
				<!--  #电台播放次数柱状图-->
				<div class="row">
					<div class="span6">
						<h3 class="title">一周歌曲播放次数曲饼图</h3>
						<div id="donut-chart" class="chart-holder"></div>
						<!-- /#donut-chart -->
					</div>
					<!-- /.span6 -->
					<div class="span6">
						<h3 class="title">一周歌曲播放次数排行榜</h3>
						<table class="table">
							<thead>
								<tr>
									<th>排名</th>
									<th>歌曲名</th>
									<th>歌手名</th>
									<th>播放次数</th>
								</tr>
							</thead>
							
							<tbody>
							{% for song in songlistlines%}
								<tr>
								{%if song.rank < 4%}
									<td><span class="label label-primary">{{song.rank}}</span></td>
									<td class="full"><a href="#">{{song.artist}}</a></td>
									<td class="who">{{song.song}}</td>
									<td class="who">{{song.play_time}}</td>
								{%else%}
									<td><span class="label label-secondary">{{song.rank}}</span></td>
									<td class="full"><a href="#">{{song.artist}}</a></td>
									<td class="who">{{song.song}}</td>
									<td class="who">{{song.play_time}}</td>
								</tr>
								{%endif%}
								{%endfor%}
								
								
								<!-- # 
								<tr>
									<td><span class="label label-primary">{{song.rank}}</span></td>
									<td class="full"><a href="#">Lorem ipsum dolor sit
											amet</a></td>
									<td class="who">Posted by Bill</td>
								</tr>

								<tr>
									<td><span class="label label-primary">2</span></td>
									<td class="full"><a href="#">Consectetur adipiscing</a></td>
									<td class="who">Posted by Pam</td>
								</tr>
								<tr>
									<td><span class="label label-primary">3</span></td>
									<td class="full"><a href="#">Sed in porta lectus
											maecenas</a></td>
									<td class="who">Posted by Curtis</td>
								</tr>
								<tr>
									<td><span class="label label-danger">4</span></td>
									<td class="full"><a href="#">Dignissim enim</a></td>
									<td class="who">Posted by John</td>
								</tr>
								<tr>
									<td><span class="label label-secondary">5</span></td>
									<td class="full"><a href="#">Duis nec rutrum lorem</a></td>


									<td class="who">Posted by James</td>
								</tr>
								<tr>
									<td><span class="label label-danger">6</span></td>
									<td class="full"><a href="#">Maecenas id velit et elit</a></td>
									<td class="who">Posted by Sam</td>
								</tr>
								<tr>
									<td><span class="label label-secondary">7</span></td>
									<td class="full"><a href="#">Duis nec rutrum lorem</a></td>
									<td class="who">Posted by Carlos</td>
								</tr>
								<!-- # -->
							</tbody>
						</table>
					</div>
					<!-- /.span7 -->

				</div>
				<!-- 电台播放次数曲饼图-->

			</div>
			<!-- /.container -->

		</div>
		<!-- /#content -->

	</div>
	<!-- /#wrapper -->

{%endblock%}