{%extends "mainpagelayout.html"%} 
{% block title %}其他页面{% endblock title%}
 {%block content%}
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>其他页面</h2>
				<p>保存基本元素，用于后续网页需要</p>
			</div>
			<!-- /.masthead-text -->
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /#masthead -->

<div id="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<section id="buttons">
					<h2>Buttons</h2>

					<a href="javascript:;" class="btn btn-large btn-primary">Primary
						Button</a>&nbsp;&nbsp; <a href="javascript:;"
						class="btn btn-large btn-secondary">Secondary Button</a>&nbsp;&nbsp;
					<a href="javascript:;" class="btn btn-large btn-tertiary">Tertiary
						Button</a>&nbsp;&nbsp; <a href="javascript:;" class="btn btn-large">Action
						Button</a>
				</section>
				<br /> <br /> <br /> <br /> <br />

				<section id="accordions">
					<h2>Accordion</h2>
					<div class="accordion" id="basic-accordion">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse"
									data-parent="#basic-accordion" href="#collapseOne">
									Collapsible Group Item #1 </a>
							</div>
							<div id="collapseOne" class="accordion-body in collapse">
								<div class="accordion-inner">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high
										life accusamus terry richardson ad squid. 3 wolf moon officia
										aute, non cupidatat skateboard dolor brunch. Food truck quinoa
										nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt.</p>

									<p>Vivamus ac velit eget turpis pharetra placerat bibendum
										at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse"
									data-parent="#basic-accordion" href="#collapseTwo">
									Collapsible Group Item #2 </a>
							</div>
							<div id="collapseTwo" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high
										life accusamus terry richardson ad squid. 3 wolf moon officia
										aute, non cupidatat skateboard dolor brunch. Food truck quinoa
										nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
										aliqu.</p>

									<p>Vivamus ac velit eget turpis pharetra placerat bibendum
										at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse"
									data-parent="#basic-accordion" href="#collapseThree">
									Collapsible Group Item #3 </a>
							</div>
							<div id="collapseThree" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high
										life accusamus terry richardson ad squid. 3 wolf moon officia
										aute, non cupidatat skateboard dolor brunch. Food truck quinoa
										nesciunt laborum eiusmod. Brunch 3.</p>

									<p>Vivamus ac velit eget turpis pharetra placerat bibendum
										at risus. Vestibulum a sodales mauris. Curabitur et nibh nunc.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<br /> <br /> <br />

				<section id="progress-bars">
					<h2>Progress Bars</h2>
					<br />
					<h5>Progress</h5>
					<div class="progress">
						<div class="bar" style="width: 12%"></div>
						<!-- /.bar -->
					</div>
					<!-- /.progress -->

					<div class="progress progress-striped active">
						<div class="bar" style="width: 25%"></div>
						<!-- /.bar -->
					</div>
					<!-- /.progress -->
					<br />
					<h5>Primary Progress</h5>
					<div class="progress progress-primary">
						<div class="bar" style="width: 12%"></div>
						<!-- /.bar -->
					</div>
					<!-- /.progress -->

					<div class="progress progress-primary progress-striped active">
						<div class="bar" style="width: 25%"></div>
						<!-- /.bar -->
					</div>
					<!-- /.progress -->
					<br />
					<h5>Secondary Progress</h5>
					<div class="progress progress-secondary">
						<div class="bar" style="width: 37%"></div>
						<!-- /.bar -->
					</div>
					<!-- /.progress -->

					<div class="progress progress-secondary progress-striped active">
						<div class="bar" style="width: 50%"></div>
						<!-- /.bar -->
					</div>
					<!-- /.progress -->
					<br />
					<h5>Tertiary Progress</h5>
					<div class="progress progress-tertiary">
						<div class="bar" style="width: 63%"></div>
						<!-- /.bar -->
					</div>
					<!-- /.progress -->
					<div class="progress progress-tertiary progress-striped active">
						<div class="bar" style="width: 75%"></div>
						<!-- /.bar -->
					</div>
					<!-- /.progress -->
				</section>


				<br /> <br /> <br />




				<section id="nav-pills">
					<h2>Pills</h2>

					<div class="tabbable">

						<ul id="myTab" class="nav nav-pills">
							<li class="active"><a href="#tab1" data-toggle="tab">Home</a></li>
							<li class=""><a href="#tab2" data-toggle="tab">Profile</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown">Dropdown <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#tab3" data-toggle="tab">@fat</a></li>
									<li><a href="#tab4" data-toggle="tab">@mdo</a></li>
								</ul></li>
						</ul>

						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="tab1">
								<p>Raw denim you probably haven't heard of them jean shorts
									Austin. Nesciunt tofu stumptown aliqua, retro synth master
									cleanse. Mustache cliche tempor, williamsburg carles vegan
									helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
									synth. Cosby sweater eu banh mi, qui irure terry richardson ex
									squid. Aliquip placeat salvia cillum iphone. Seitan aliquip
									quis cardigan american apparel, butcher voluptate nisi qui.</p>
								<p>Food truck fixie locavore, accusamus mcsweeney's marfa
									nulla single-origin coffee squid. Exercitation +1 labore velit,
									blog sartorial PBR leggings next level wes anderson artisan
									four loko farm-to-table craft beer twee. Qui photo booth
									letterpress, commodo enim craft beer mlkshk aliquip jean shorts
									ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
									labore aesthetic magna delectus mollit. Keytar helvetica VHS
									salvia yr, vero magna velit sapiente labore stumptown. Vegan
									fanny pack odio cillum wes anderson 8-bit, sustainable jean
									shorts beard ut DIY ethical culpa terry richardson biodiesel.
									Art party scenester stumptown, tumblr butcher vero sint qui
									sapiente accusamus tattooed echo park.</p>
							</div>
							<div class="tab-pane fade" id="tab2">
								<p>Food truck fixie locavore, accusamus mcsweeney's marfa
									nulla single-origin coffee squid. Exercitation +1 labore velit,
									blog sartorial PBR leggings next level wes anderson artisan
									four loko farm-to-table craft beer twee. Qui photo booth
									letterpress, commodo enim craft beer mlkshk aliquip jean shorts
									ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
									labore aesthetic magna delectus mollit. Keytar helvetica VHS
									salvia yr, vero magna velit sapiente labore stumptown. Vegan
									fanny pack odio cillum wes anderson 8-bit, sustainable jean
									shorts beard ut DIY ethical culpa terry richardson biodiesel.
									Art party scenester stumptown, tumblr butcher vero sint qui
									sapiente accusamus tattooed echo park.</p>
								<p>Raw denim you probably haven't heard of them jean shorts
									Austin. Nesciunt tofu stumptown aliqua, retro synth master
									cleanse. Mustache cliche tempor, williamsburg carles vegan
									helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
									synth. Cosby sweater eu banh mi, qui irure terry richardson ex
									squid. Aliquip placeat salvia cillum iphone. Seitan aliquip
									quis cardigan american apparel, butcher voluptate nisi qui.</p>
							</div>
							<div class="tab-pane fade" id="tab3">
								<p>Etsy mixtape wayfarers, ethical wes anderson tofu before
									they sold out mcsweeney's organic lomo retro fanny pack lo-fi
									farm-to-table readymade. Messenger bag gentrify pitchfork
									tattooed craft beer, iphone skateboard locavore carles etsy
									salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
									Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
									mi whatever gluten-free, carles pitchfork biodiesel fixie etsy
									retro mlkshk vice blog. Scenester cred you probably haven't
									heard of them, vinyl craft beer blog stumptown. Pitchfork
									sustainable tofu synth chambray yr.</p>
								<p>Raw denim you probably haven't heard of them jean shorts
									Austin. Nesciunt tofu stumptown aliqua, retro synth master
									cleanse. Mustache cliche tempor, williamsburg carles vegan
									helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
									synth. Cosby sweater eu banh mi, qui irure terry richardson ex
									squid. Aliquip placeat salvia cillum iphone. Seitan aliquip
									quis cardigan american apparel, butcher voluptate nisi qui.</p>
							</div>
							<div class="tab-pane fade" id="tab4">
								<p>Raw denim you probably haven't heard of them jean shorts
									Austin. Nesciunt tofu stumptown aliqua, retro synth master
									cleanse. Mustache cliche tempor, williamsburg carles vegan
									helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
									synth. Cosby sweater eu banh mi, qui irure terry richardson ex
									squid. Aliquip placeat salvia cillum iphone. Seitan aliquip
									quis cardigan american apparel, butcher voluptate nisi qui.</p>
								<p>Trust fund seitan letterpress, keytar raw denim keffiyeh
									etsy art party before they sold out master cleanse gluten-free
									squid scenester freegan cosby sweater. Fanny pack portland
									seitan DIY, art party locavore wolf cliche high life echo park
									Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they
									sold out farm-to-table VHS viral locavore cosby sweater. Lomo
									wolf viral, mustache readymade thundercats keffiyeh craft beer
									marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo
									park vegan.</p>
							</div>
						</div>

					</div>
					<!-- /.tabble -->

				</section>


				<br /> <br /> <br />





				<section id="dropdowns">
					<h2>Dropdowns</h2>



					<div class="dropdown clearfix">
						<ul class="dropdown-menu" role="menu"
							aria-labelledby="dropdownMenu"
							style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
							<li><a tabindex="-1" href="javascript:;"><i
									class="icon-star"></i> Action</a></li>
							<li><a tabindex="-1" href="javascript:;"><i
									class="icon-asterisk"></i> Another action</a></li>
							<li><a tabindex="-1" href="javascript:;"><i
									class="icon-bookmark"></i> Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-submenu"><a tabindex="-1"
								href="javascript:;">More options</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="javascript:;">Second level
											link</a></li>
									<li><a tabindex="-1" href="javascript:;">Second level
											link</a></li>
									<li><a tabindex="-1" href="javascript:;">Second level
											link</a></li>
									<li><a tabindex="-1" href="javascript:;">Second level
											link</a></li>
									<li><a tabindex="-1" href="javascript:;">Second level
											link</a></li>
								</ul></li>
						</ul>
					</div>

				</section>






				<br /> <br /> <br />










				<section id="modals">
					<h2>Modal</h2>

					<a class="btn" data-toggle="modal" href="#myModal">Launch Modal</a>

				</section>


				<br /> <br /> <br /> <br /> <br />



				<section id="paginations">
					<h2>Pagination</h2>

					<div class="pagination">
						<ul>
							<li><a href="javascript:;">Prev</a></li>
							<li class="active"><a href="javascript:;">1</a></li>
							<li><a href="javascript:;">2</a></li>
							<li><a href="javascript:;">3</a></li>
							<li><a href="javascript:;">4</a></li>
							<li><a href="javascript:;">Next</a></li>
						</ul>
					</div>

				</section>

				<br /> <br /> <br />


				<section id="labels-badges">
					<h2>Labels & Badges</h2>
					<br /> <span class="label label-primary">Primary</span>&nbsp;&nbsp;
					<span class="label label-secondary">Secondary</span>&nbsp;&nbsp; <span
						class="label label-tertiary">Tertiary</span>&nbsp;&nbsp; <br /> <br />
					<br /> <span class="badge badge-primary">1</span>&nbsp;&nbsp; <span
						class="badge badge-secondary">2</span>&nbsp;&nbsp; <span
						class="badge badge-tertiary">3</span>&nbsp;&nbsp;

				</section>

				<br /> <br /> <br /> <br />

				<section id="tables">
					<h2>Tables</h2>


					<table class="table table-bordered table-striped table-highlight">
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Username</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Michael</td>
								<td>Jordan</td>
								<td>@mjordan</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Magic</td>
								<td>Johnson</td>
								<td>@mjohnson</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Charles</td>
								<td>Barkley</td>
								<td>@cbark</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Karl</td>
								<td>Malone</td>
								<td>@kmalone</td>
							</tr>
						</tbody>
					</table>


					<br />


					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Username</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Michael</td>
								<td>Jordan</td>
								<td>@mjordan</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Magic</td>
								<td>Johnson</td>
								<td>@mjohnson</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Larry</td>
								<td>the Bird</td>
								<td>@twitter</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Charles</td>
								<td>Barkley</td>
								<td>@cbark</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Karl</td>
								<td>Malone</td>
								<td>@kmalone</td>
							</tr>
						</tbody>
					</table>



					<br />



				</section>





			</div>
			<!-- /.span12 -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</div>
<!-- /#content -->

</div>
<!-- /#wrapper -->





<div id="masthead">

	<div class="container">

		<div class="masthead-pad">

			<div class="masthead-text">
				<h2>Bonus Elements</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
			<!-- /.masthead-text -->

		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /#masthead -->




<div id="content">

	<div class="container">

		<div class="row">

			<div class="span12">

				<h3>Alert & Confirm</h3>

				<hr />

				<a href="javascript:;" class="btn btn-tertiary msgbox-alert">Alert
					Message</a> <a href="javascript:;" class="btn btn-tertiary msgbox-info">Information
					Message</a> <a href="javascript:;"
					class="btn btn-tertiary msgbox-error">Error Message</a> <a
					href="javascript:;" class="btn btn-tertiary msgbox-confirm">Confirm
					Message</a> <a href="javascript:;"
					class="btn btn-tertiary msgbox-prompt">Prompt Message</a>

			</div>
			<!-- /.span12 -->

		</div>



		<div class="row">

			<div class="span12">

				<h3>Lightbox</h3>

				<hr />

				<a href="./img/lightbox/4.jpg" class="btn btn-primary ui-lightbox">Show
					Image Lightbox</a> <a href="http://www.youtube.com/watch?v=TsUD1za9TA4"
					class="btn btn-primary ui-lightbox">Show Video</a> <a
					href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=+paris+eiffel&amp;ie=UTF8&amp;hq=eiffel&amp;hnear=Paris,+Ile-de-France,+France&amp;ll=48.855708,2.300434&amp;spn=0.013243,0.042272&amp;z=15&amp;lightbox[width]=610&amp;lightbox[height]=360"
					class="btn btn-primary ui-lightbox">Show Maps</a>

			</div>
			<!-- /.span12 -->

		</div>


		<div class="row">

			<div class="span12">

				<h3>Growl Message</h3>

				<hr />
				<button class="btn btn-secondary growl-type" data-type="info">Show
					Info Growl</button>
				<button class="btn btn-secondary growl-type" data-type="success">Show
					Success Growl</button>
				<button class="btn btn-secondary growl-type" data-type="warning">Show
					Warning Growl</button>
				<button class="btn btn-secondary growl-type" data-type="error">Show
					Error Growl</button>

				<div class="clear"></div>

			</div>
			<!-- /.span12 -->

		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->

</div>
<!-- /#content -->

</div>
<!-- /#wrapper -->








<div id="masthead">

	<div class="container">

		<div class="masthead-pad">

			<div class="masthead-text">
				<h2>FAQ</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
			<!-- /.masthead-text -->

		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /#masthead -->




<div id="content">

	<div class="container">


		<div class="row">

			<div class="span8">


				<ol class="faqList">

					<li>
						<h4>How can I get my own domain name?</h4>
						<p>The Internet Corporation for Assigned Names and Numbers
							(ICANN) maintains a list of accredited registrars . Any of the
							companies on this list can register a domain name for you..</p>

					</li>

					<li>
						<h4>How can I block my hosting service's advertisements?</h4>
						<p>Check the Terms of Service (TOS) agreement for your hosting
							service. It almost certainly prohibits interfering with the
							advertisements they add to your web pages. If you use some trick
							to block their advertisements on your own, then your hosting
							service may delete your account for violating its TOS.</p>

					</li>

					<li>

						<h4>How do I redirect someone to another page?</h4>
						<p>The most reliable way is to configure the server to send
							out a redirection instruction when the old URL is requested. Then
							the browser will automatically get the new URL. This is the
							fastest and most efficient way, and is the only way described
							here that can convince indexing robots to phase out the old URL.
							For configuration details consult your server admin or
							documentation (with NCSA or Apache servers, use a Redirect
							statement in .htaccess).</p>
						<p>If you can't set up a redirect, there are other
							possibilities. These are inferior because they tell the search
							engines that there's still a page at the old location, not that
							the page has moved to a new location. But if it's impossible for
							you to configure redirection at your server, here are two
							alternatives:</p>
					</li>

					<li>
						<h4>How do I password protect my web site?</h4>
						<p>Password protection is done through HTTP authentication.
							The configuration details vary from server to server, so you
							should read the authentication section of your server
							documentation. Contact your server administrator if you need help
							with this.</p>
						<p>JavaScript password scripts provide only a facade of
							security. At a fundamental level, they work in one of two ways.
							Some scripts convert the password into a URL, which keeps the
							document secret by limiting the number of people who know its
							URL. Some scripts check the password and then go to a specific
							URL, which protects the document only from those who don't view
							the JavaScript source to get the URL of the document. Neither
							mechanism is really secure.</p>

					</li>

					<li>

						<h4>How do I stop my page from being cached?</h4>
						<p>Browsers cache web documents; they store local copies of
							documents to speed up repeated references to documents that
							haven't changed. Also, many browsers are configured to use public
							proxy caches, which serve many users (e.g., all customers of an
							ISP, or all employees behind a corporate firewall). To
							effectively control how your documents are cached you must
							configure your server to send appropriate HTTP headers.</p>
						<p>The Expires header is understood by virtually all caches.
							The cached document will be retrieved again automatically once it
							has expired. The Expires header must contain an HTTP date, which
							must be Greenwich Mean Time (GMT), not local time.</p>

					</li>

					<li>
						<h4>How can I disable the browser's right-click options?</h4>
						<p>These scripts annoy visitors who lose ready access to their
							browsers' normal context-menu functions (e.g., "Open in new
							window" or "Bookmark link"). These scripts can also interfere
							with features like mouse gestures. Nothing (including these
							scripts) can prevent anyone from copying your source or images.
							The browser cannot display your document without the source and
							images, so your web server must send them to the browser. Even
							without the various "save" functions in today's browsers, someone
							can retrieve your source or images from the browser's cache,
							request them from the server with some other tool, or use a
							screen-capture tool to copy the images. These scripts do nothing
							when JavaScript is disabled or unavailable, when JavaScript
							access to right-click events is disabled, on systems without
							mice, or on systems with single-button mice.</p>

					</li>

					<li>

						<h4>How do I hide my URL?</h4>
						<p>You can't. URLs are fundamental to navigation on the WWW.
							The URL is necessary for the browser to be able to retrieve your
							document. It is impossible to hide the URL of a resource from the
							browser.</p>

					</li>

					<li>

						<h4>How do I detect what browser is being used?</h4>
						<p>Many browsers identify themselves when they request a
							document. A CGI script will have this information available in
							the HTTP_USER_AGENT environment variable, and it can use that to
							send out a version of the document which is optimized for that
							browser.</p>
						<p>Keep in mind not all browsers identify themselves
							correctly. For example, Microsoft Internet Explorer identifies
							itself as Netscape Navigator, and many other browsers identify
							themselves as Microsoft Internet Explorer.</p>
						<p>And of course, if a cache proxy keeps a version intended
							for one brower, someone with another browser may get that
							version, rather than the version intended for the other browser.</p>

					</li>

					<li>

						<h4>How do I get my visitors' email addresses?</h4>
						<p>You can't. Although each request for a document is usually
							logged with the name or address of the remote host, the actual
							username is almost never logged as well. This is mostly because
							of performance reasons, as it would require that the server uses
							the ident protocol to see who is on the other end. This takes
							time. And if a cache proxy is doing the request, you don't get
							anything sensible.</p>
						<p>But just stop to think for a minute... would you really
							want every single site you visit to know your email address?
							Imagine the loads of automated thank you's you would be
							receiving. If you visited 20 sites, you would get at least 20
							emails that day, plus no doubt they would send you invitations to
							return later. It would be a nightmare as well as an invasion of
							privacy!</p>

					</li>

					<li>
						<h4>Why is my custom 404 Not Found message not displayed?</h4>
						<p>If only Internet Explorer ignores your custom 404 Not Found
							messages, then you've been caught by its "friendly" HTTP error
							messages. When a special HTTP response (e.g., a 404 Not Found
							response) is shorter than 512 bytes, Internet Explorer
							substitutes its own message for the one delivered by the server.
							As a user of Internet Explorer, you can disable this feature in
							the "Advanced" options panel. As a web author, your only recourse
							is to make your 404 Not Found message longer.</p>

					</li>

				</ol>

			</div>
			<!-- /.span8 -->


			<div class="span4">


				<a href="javascript:;"
					class="btn btn-large btn-primary btn-block btn-big-block">Ask A
					Question</a> <a href="javascript:;"
					class="btn btn-large btn-tertiary btn-block btn-big-block">Contact
					Support</a>


				<div class="well">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


					<p>Cillum dolore eu fugiat nulla pariatur. Excepteur sint
						occaecat cupidatat non proident, sunt in culpa qui officia
						deserunt mollit anim id est laborum.</p>
				</div>
				<!-- /.well -->


			</div>
			<!-- /.span4 -->

		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->

</div>
<!-- /#content -->

</div>
<!-- /#wrapper -->


{%endblock%}
