{% include "layoutheader.html" %} 
{% block title %}PAGE3页面{% endblock title %}
<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>test页面</h2>
				<p>test测试展示内容，点击jquery表表头可以排序相应展示内容</p>
			</div>
			<!-- /.masthead-text -->
		</div>
	</div>
	<!-- /.container -->
</div>

<div id="content">
	<div class="container">
		<div class="alert alert-success">
			<button data-dismiss="alert" class="close" type="button">×</button>
			本页面集合歌手方方面面信息数据，定量化分析，客观掌握歌手资讯
		</div>
		<section id="tables">
			<h4>歌手信息详情</h4>
			<table class="table table-bordered table-striped table-highlight">
				<thead>
					<tr>
						<th>歌手</th>
						<th>歌曲</th>
						<th>播放次数</th>
						<th>播放排名</th>
						<th>播放电台</th>
						<th>电台排名</th>
						<th>播放时长</th>
						<th>版权费总计</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>王力宏</td>
						<td>龙的传人</td>
						<td>2280次</td>
						<td>第7名</td>
						<td>山东广播电台</td>
						<td>10</td>
						<td>11000分钟</td>
						<td>￥3300元版权费</td>
					</tr>
					<tr>
						<td>王力宏</td>
						<td>大城小爱</td>
						<td>1130次</td>
						<td>第19名</td>
						<td>山东广播电台</td>
						<td>8名</td>
						<td>5400分钟</td>
						<td>￥1620元版权费</td>
					</tr>
					<tr>
						<td>林忆莲</td>
						<td>听说爱情回来过</td>
						<td>909次</td>
						<td>第70名</td>
						<td>北京交通广播</td>
						<td>20</td>
						<td>4500分钟</td>
						<td>￥1350元版权费</td>
					</tr>
					<tr>
						<td>林忆莲</td>
						<td>至少还有你</td>
						<td>828次</td>
						<td>第96名</td>
						<td>安徽交通广播</td>
						<td>18</td>
						<td>4400分钟</td>
						<td>￥1320元版权费</td>
					</tr>
					<tr>
						<td>张靓颖</td>
						<td>我们说好的</td>
						<td>1920次</td>
						<td>第13名</td>
						<td>江苏广播电台</td>
						<td>20</td>
						<td>4200分钟</td>
						<td>￥1260元版权费</td>
					</tr>
					<tr>
						<td>张靓颖</td>
						<td>如果这就是爱情</td>
						<td>1207次</td>
						<td>第31名</td>
						<td>湖南广播电台</td>
						<td>9</td>
						<td>3600分钟</td>
						<td>￥1080元版权费</td>
					</tr>
					<tr>
						<td>杨宗纬</td>
						<td>其实都没有</td>
						<td>1111次</td>
						<td>第34名</td>
						<td>湖南广播电台</td>
						<td>10</td>
						<td>3200分钟</td>
						<td>￥960元版权费</td>
					</tr>
					<tr>
						<td>王菲</td>
						<td>因为爱情</td>
						<td>1136次</td>
						<td>第36名</td>
						<td>北京交通广播</td>
						<td>8</td>
						<td>2900分钟</td>
						<td>￥570元版权费</td>
					</tr>
					<tr>
						<td>王菲</td>
						<td>我愿意</td>
						<td>1110次</td>
						<td>第40名</td>
						<td>北京交通广播</td>
						<td>18</td>
						<td>2300分钟</td>
						<td>￥690元版权费</td>
					</tr>
				</tbody>
			</table>
			<br />
			<div class="alert alert-success">
				<button data-dismiss="alert" class="close" type="button">×</button>
				点击jQuery表表头可以排序展示内容，在search输入歌手名/歌曲名/日期等信息，进行精准筛选。默认展示10个，可以在display选择其他显示数量
			</div>
			<div class="content">
				<div class="row">
					<h3 class="header smaller lighter blue">jQuery歌手详情列表</h3>
					<div class="table-responsive">
						<table id="sample-table-2"
							class="table table-bordered table-striped table-highlight">
							<thead>
								<tr>
									<th class="center"><label> <input type="checkbox"
											class="ace" /> <span class="lbl"></span>
									</label></th>
									<th><i class="icon-music"> </i>歌手名</th>
									<th><i class="icon-headphones"> </i>歌曲名</th>
									<th><i class=" icon-rss"><span></span></i>播放次数</th>
									<th><i class=" icon-time"><span></span></i>播放时长</th>
									<th><i class=" icon-heart"><span></span></i>热度评级</th>
									<th><i class="icon-cog"><span></span></i>信息更改</th>
								</tr>
							</thead>

							<tbody>
								{%for artist in artistlines%}
								<tr>
									<td class="center"><label> <input type="checkbox"
											class="ace" /> <span class="lbl"></span>
									</label></td>
									<td><a href="#">{{artist.0}}</a></td>
									<td>{artistname}</td>
									<td class="hidden-480">{{artist.1}}</td>
									<td>{playedtimes}</td>

									<td class="hidden-480"><span
										class="label label-sm label-success">热度上升</span></td>

									<td>
										<div
											class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
											<a class="blue" href="#"> <i class="icon-plus-sign-alt"></i>
											</a> <a class="green" href="#"> <i
												class="icon-pencil bigger-130"></i>
											</a> <a class="red" href="#"> <i
												class="icon-trash bigger-130"></i>
											</a>
										</div>

										<div class="visible-xs visible-sm hidden-md hidden-lg">
											<div class="inline position-relative">

												<ul
													class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
													<li><a href="#" class="tooltip-info"
														data-rel="tooltip" title="View"> <span class="blue">
																<i class="icon-zoom-in bigger-120"></i>
														</span>
													</a></li>

													<li><a href="#" class="tooltip-success"
														data-rel="tooltip" title="Edit"> <span class="green">
																<i class="icon-plus-sign-alt bigger-120"></i>
														</span>
													</a></li>

													<li><a href="#" class="tooltip-error"
														data-rel="tooltip" title="Delete"> <span class="red">
																<i class="icon-trash bigger-120"></i>
														</span>
													</a></li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
								{% endfor%}
							</tbody>
						</table>
					</div>
				</div><!-- /.row -->
			</div><!-- /.content -->
			
			
				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.page-content -->
	</div>
	<!-- /.main-content -->
	<!--[if !IE]> -->

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<!-- <![endif]-->

	<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

	<!--[if !IE]> -->

	<!-- page specific plugin scripts -->
	<script src="/static/js/page1js/ace-extra.min.js"></script>
	<script src="/static/js/page1js/jquery.dataTables.min.js"></script>
	<script src="/static/js/page1js/jquery.dataTables.bootstrap.js"></script>
	<!-- ace scripts -->

	<script type="text/javascript">
		jQuery(function($) {
			var oTable1 = $('#sample-table-2').dataTable({
				"aoColumns" : [ {
					"bSortable" : false
				}, null, null, null, null, null, {
					"bSortable" : false
				} ]
			});

			$('table th input:checkbox').on(
					'click',
					function() {
						var that = this;
						$(this).closest('table').find(
								'tr > td:first-child input:checkbox').each(
								function() {
									this.checked = that.checked;
									$(this).closest('tr').toggleClass(
											'selected');
								});

					});

			$('[data-rel="tooltip"]').tooltip({
				placement : tooltip_placement
			});
			function tooltip_placement(context, source) {
				var $source = $(source);
				var $parent = $source.closest('table')
				var off1 = $parent.offset();
				var w1 = $parent.width();

				var off2 = $source.offset();
				var w2 = $source.width();

				if (parseInt(off2.left) < parseInt(off1.left)
						+ parseInt(w1 / 2))
					return 'right';
				return 'left';
			}
		})
	</script>
	</body>
	</html>