{%extends "mainpagelayout.html"%}
{% block title %}版权费页面{% endblock title %} 
{%block content%}


<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>音乐人版权费用汇总页面</h2>
				<p>电台播放歌手歌曲应当支付版权费信息</p>
			</div>
			<!-- /.masthead-text -->
		</div>
	</div>
	<!-- /.container -->
</div>
<!-- /#masthead -->

<div id="content">
	<div class="container">
		<div class="row">
			<div class="span12" position='vertical'>
			
				<div class="alert alert-success">
					<button data-dismiss="alert" class="close" type="button">×</button>
					<h4>一周内版权费统计</h4>
					更全面、细致、精准地保护音乐人权益
				</div>
				<div id="pricing-header">
					<h1>一周内版权费统计</h1>
					<h2>更全面、细致、精准地保护音乐人权益</h2>
				</div>
				<!-- /#pricing-header -->
				<div class="pricing-plans plans-4">
					<div class="plan-container">
						<div class="plan">
							<div class="plan-header">
								<div class="plan-title">莫文蔚</div>
								<!-- /plan-title -->
								<div class="plan-price">
									<span class="note">￥</span>5700<span class="term">每周</span>
								</div>
								<!-- /plan-price -->
							</div>
							<!-- /plan-header -->
							<div class="plan-features">
								<ul>
								<li><strong><span
											class="label label-sm label-success"><i
												class=" icon-arrow-up icon-white">UP </i></span> 120</strong> 热度增加</li>
									<li><strong>21</strong> 个播放电台</li>
									<li><strong>3880</strong> 次播放</li>
									<li><strong>19000</strong>分钟时长</li>
									<li><strong>￥5700</strong> 版权使用费</li>
								</ul>
							</div>
							<!-- /plan-features -->

							<div class="plan-actions">
								<a href="/artistdetails" class="btn">具体详情</a>
							</div>
							<!-- /plan-actions -->

						</div>
						<!-- /plan -->
					</div>
					<!-- /plan-container -->
					
					<div class="plan-container">
						<div class="plan">
							<div class="plan-header">

								<div class="plan-title">周杰伦</div>
								<!-- /plan-title -->

								<div class="plan-price">
									<span class="note">￥</span>5400<span class="term">每周</span>
								</div>
								<!-- /plan-price -->

							</div>
							<!-- /plan-header -->

							<div class="plan-features">
								<ul>
									<li><strong>128</strong> 热度增加</li>
									<li><strong>28</strong> 个播放电台</li>
									<li><strong>3740</strong> 次播放</li>
									<li><strong>18000</strong>分钟时长</li>
									<li><strong>￥5400</strong> 版权使用费</li>
								</ul>
							</div>
							<!-- /plan-features -->

							<div class="plan-actions">
								<a href="/artistdetails" class="btn">具体详情</a>
							</div>
							<!-- /plan-actions -->

						</div>
						<!-- /plan -->
					</div>
					<!-- /plan-container -->
					<div class="plan-container best-value">
						<div class="plan">
							<div class="plan-header">

								<div class="plan-title">汪峰</div>
								<!-- /plan-title -->

								<div class="plan-price">
									<span class="note">￥</span>5200<span class="term">每周</span>
								</div>
								<!-- /plan-price -->

							</div>
							<!-- /plan-header -->

							<div class="plan-features">
								<ul>
									<li><strong><span
											class="label label-sm label-warning"><i
												class=" icon-arrow-down icon-white">DOWN </i></span> 120</strong> 热度增加</li>
									<li><strong>21</strong> 个播放电台</li>
									<li><strong>2800</strong> 次播放</li>
									<li><strong>14000</strong>分钟时长</li>
									<li><strong>￥5200</strong> 版权使用费</li>
								</ul>
							</div>
							<!-- /plan-features -->

							<div class="plan-actions">
								<a href="/artistdetails" class="btn">具体详情</a>
							</div>
							<!-- /plan-actions -->

						</div>
						<!-- /plan -->
					</div>
					<!-- /plan-container -->



					<div class="plan-container">
						<div class="plan">
							<div class="plan-header">

								<div class="plan-title">王力宏</div>
								<!-- /plan-title -->

								<div class="plan-price">
									<span class="note">￥</span>4800<span class="term">每周</span>
								</div>
								<!-- /plan-price -->

							</div>
							<!-- /plan-header -->

							<div class="plan-features">
								<ul>
									<li><strong>118</strong> 热度增加</li>
									<li><strong>21</strong> 个播放电台</li>
									<li><strong>3440</strong> 次播放</li>
									<li><strong>16000</strong>分钟时长</li>
									<li><strong>￥4800</strong> 版权使用费</li>
								</ul>
							</div>
							<!-- /plan-features -->

							<div class="plan-actions">
								<a href="/artistdetails" class="btn">具体详情</a>
							</div>
							<!-- /plan-actions -->

						</div>
						<!-- /plan -->
					</div>
					<!-- /plan-container -->

					<div class="plan-container">
						<div class="plan">
							<div class="plan-header">

								<div class="plan-title">周笔畅</div>
								<!-- /plan-title -->

								<div class="plan-price">
									<span class="note">￥</span>4800<span class="term">每周</span>
								</div>
								<!-- /plan-price -->

							</div>
							<!-- /plan-header -->

							<div class="plan-features">
								<ul>
									<li><strong>118</strong> 热度增加</li>
									<li><strong>21</strong> 个播放电台</li>
									<li><strong>3440</strong> 次播放</li>
									<li><strong>16000</strong>分钟时长</li>
									<li><strong>￥4800</strong> 版权使用费</li>
								</ul>
							</div>
							<!-- /plan-features -->

							<div class="plan-actions">
								<a href="/artistdetails" class="btn">具体详情</a>
							</div>
							<!-- /plan-actions -->

						</div>
						<!-- /plan -->
					</div>
					<!-- /plan-container -->
					<div class="plan-container best-value">
						<div class="plan">
							<div class="plan-header">

								<div class="plan-title">孙楠</div>
								<!-- /plan-title -->

								<div class="plan-price">
									<span class="note">￥</span>3000<span class="term">每周</span>
								</div>
								<!-- /plan-price -->

							</div>
							<!-- /plan-header -->

							<div class="plan-features">
								<ul>
									<li><strong><span
											class="label label-sm label-error"><i
												class=" icon-arrow-down icon-white">DOWN </i></span> 120</strong> 热度增加</li>
									<li><strong>21</strong> 个播放电台</li>
									<li><strong>2280</strong> 次播放</li>
									<li><strong>10000</strong>分钟时长</li>
									<li><strong>￥3000</strong> 版权使用费</li>
								</ul>
							</div>
							<!-- /plan-features -->

							<div class="plan-actions">
								<a href="/artistdetails" class="btn">具体详情</a>
							</div>
							<!-- /plan-actions -->

						</div>
						<!-- /plan -->
					</div>
					<!-- /plan-container -->
					<div class="plan-container">
						<div class="plan">
							<div class="plan-header">

								<div class="plan-title">陈奕迅</div>
								<!-- /plan-title -->

								<div class="plan-price">
									<span class="note">￥</span>3000<span class="term">每周</span>
								</div>
								<!-- /plan-price -->

							</div>
							<!-- /plan-header -->

							<div class="plan-features">
								<ul>
									<li><strong>88</strong> 热度增加</li>
									<li><strong>20</strong> 个播放电台</li>
									<li><strong>2440</strong> 次播放</li>
									<li><strong>10000</strong>分钟时长</li>
									<li><strong>￥3000</strong> 版权使用费</li>
								</ul>
							</div>
							<!-- /plan-features -->

							<div class="plan-actions">
								<a href="/artistdetails" class="btn">具体详情</a>
							</div>
							<!-- /plan-actions -->

						</div>
						<!-- /plan -->
					</div>
					<!-- /plan-container -->
					<div class="plan-container best-value">
						<div class="plan">
							<div class="plan-header">

								<div class="plan-title">王菲</div>
								<!-- /plan-title -->

								<div class="plan-price">
									<span class="note">￥</span>1800<span class="term">每周</span>
								</div>
								<!-- /plan-price -->

							</div>
							<!-- /plan-header -->

							<div class="plan-features">
								<ul>
									<li><strong>90</strong> 热度增加</li>
									<li><strong>11</strong> 个播放电台</li>
									<li><strong>890</strong> 次播放</li>
									<li><strong>6000</strong>分钟时长</li>
									<li><strong>￥1800</strong> 版权使用费</li>
								</ul>
							</div>
							<!-- /plan-features -->

							<div class="plan-actions">
								<a href="/artistdetails" class="btn">具体详情</a>
							</div>
							<!-- /plan-actions -->

						</div>
						<!-- /plan -->
					</div>
					<!-- /plan-container -->


				</div>

			</div>
			<!-- /.span12 -->

		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->

</div>
<!-- /#content -->


{%endblock%}
