{%extends "mainpagelayout.html"%} 
<!--==动态加载title的方法-->
{% block title %}数据中心页面{% endblock title %}
 {%block content%}

		<div id="masthead">

			<div class="container">

				<div class="masthead-pad">

					<div class="masthead-text">
						<h2>数据中心</h2>
						<p>音乐云数据,云计算，大数据挖掘，精准定位，定点突破</p>
					</div>
					<!-- /.masthead-text -->

				</div>

			</div>
			<!-- /.container -->

		</div>
		<!-- /#masthead -->

		<div id="content">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div id="big_stats" class="cf">
							<div class="stat">
								<div class="report-cirque" data-value="3630"
									data-arc-color="#2790B0"></div>
								<h4>男女歌手占比统计</h4>
							</div>
							<!-- .stat -->

							<div class="stat">
								<div class="report-cirque" data-value="3480"
									data-arc-color="#94BA65" data-label="ratio"></div>
								<h4>港台大陆歌手占比</h4>
							</div>
							<!-- .stat -->

							<div class="stat">
								<div class="report-cirque" data-value="150"
									data-arc-color="#4074AA"></div>
								<h4>已收入VS市场总额</h4>
							</div>
							<!-- .stat -->

							<div class="stat">
								<div class="report-cirque" data-value="870"
									data-arc-color="#CC0000" data-label="ratio"></div>
								<h4>电台播放量占比</h4>
							</div>
							<!-- .stat -->

						</div>
						<!-- /#big_stats -->

					</div>
					<!-- /.span12 -->

				</div>
				<!-- /.row -->



				<div class="row">

					<div class="span6">

						<h3>柱状图：</h3>

						<hr />

						<div id="vertical-chart" class="chart-holder"></div>
						<!-- /#vertical-chart -->
					</div>
					<!-- /.span6 -->

					<div class="span6">

						<h3>切片图：</h3>

						<hr />

						<div id="pie-chart" class="chart-holder"></div>
						<!-- /#pie-chart -->

					</div>
					<!-- /.span6 -->

				</div>
				<!-- /.row -->
					<div class="span4">

						<h3>播放次数Top10排行榜</h3>
						<table class="table table-bordered table-striped table-highlight">

							<thead>
								<tr>
									<th>排名：</th>
									<th>歌手名：</th>
									<th>播放次数：</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="value"><span>1</span></td>
									<td class="description"><a href="/artistdetails">莫文蔚</a></td>
									<td class="value"><span>3880</span></td>
								</tr>
								<tr>
									<td class="value"><span>2</span></td>
									<td class="description"><a href="/artistdetails">王力宏</a></td>
									<td class="value"><span>3444</span></td>
								</tr>
								<tr>
									<td class="value"><span>3</span></td>
									<td class="description"><a href="/artistdetails">周笔畅</a></td>
									<td class="value"><span>2900</span></td>
								</tr>
								<tr>
									<td class="value"><span>4</span></td>
									<td class="description"><a href="/artistdetails">孙楠</a></td>
									<td class="value"><span>2880</span></td>
								</tr>
								<tr>
									<td class="value"><span>5</span></td>
									<td class="description"><a href="/artistdetails">厉娜</a></td>
									<td class="value"><span>2740</span></td>
								</tr>
								<tr>
									<td class="value"><span>6</span></td>
									<td class="description"><a href="/artistdetails">苏醒</a></td>
									<td class="value"><span>2700</span></td>
								</tr>
								<tr>
									<td class="value"><span>7</span></td>
									<td class="description"><a href="/artistdetails">黄英</a></td>
									<td class="value"><span>2380</span></td>
								</tr>
								<tr>
									<td class="value"><span>8</span></td>
									<td class="description"><a href="/artistdetails">周杰伦</a></td>
									<td class="value"><span>1820</span></td>
								</tr>
								<tr>
									<td class="value"><span>9</span></td>
									<td class="description"><a href="/artistdetails">五月天</a></td>
									<td class="value"><span>1802</span></td>
								</tr>
								<tr>
									<td class="value"><span>10</span></td>
									<td class="description"><a href="/artistdetails">张学友</a></td>
									<td class="value"><span>1390</span></td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- /.span4 -->
					<div class="span4">

						<h3>歌曲Top10排行榜</h3>

						<table class="table table-bordered table-striped table-highlight">

							<thead>
								<tr>
									<th>排名：</th>
									<th>歌曲名：</th>
									<th>播放量：</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="value"><span>第1名</span></td>
									<td class="description"><a href="/artistdetails">I See Who You Are</a></td>
									<td class="value"><span>2123</span></td>
								</tr>
								<tr>
								<td class="value"><span>第2名</span></td>
									<td class="description"><a href="/artistdetails">我们说好的</a></td>
									<td class="value"><span>1927</span></td>
								</tr>
								<tr>
								<td class="value"><span>第3名</span></td>
									<td class="description"><a href="/artistdetails">HIGH歌</a></td>
									<td class="value"><span>1834</span></td>
								</tr>
								<tr>
								<td class="value"><span>第4名</span></td>
									<td class="description"><a href="/artistdetails">爱笑的眼睛</a></td>
									<td class="value"><span>1625</span></td>
								</tr>
								<tr>
								<td class="value"><span>第5名</span></td>
									<td class="description"><a href="/artistdetails">Track 03</a></td>
									<td class="value"><span>1593</span></td>
								</tr>
								<tr>
									<td class="value"><span>第6名</span></td>
									<td class="description"><a href="/artistdetails">I'm the Kinda</a></td>
									<td class="value"><span>1523</span></td>
								</tr>
								<tr>
								<td class="value"><span>第7名</span></td>
									<td class="description"><a href="/artistdetails">彩虹</a></td>
									<td class="value"><span>1527</span></td>
								</tr>
								<tr>
								<td class="value"><span>第8名</span></td>
									<td class="description"><a href="/artistdetails">大城小爱</a></td>
									<td class="value"><span>1334</span></td>
								</tr>
								<tr>
								<td class="value"><span>第9名</span></td>
									<td class="description"><a href="/artistdetails">因为爱情</a></td>
									<td class="value"><span>1325</span></td>
								</tr>
								<tr>
								<td class="value"><span>第10名</span></td>
									<td class="description"><a href="/artistdetails">我最亲爱的</a></td>
									<td class="value"><span>1093</span></td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- /.span4 -->
					<div class="span4">

						<h3>BillboardTop10排行榜</h3>

						<table class="table table-bordered table-striped table-highlight">

							<thead>
								<tr>
									<th>排名：</th>
									<th>歌曲名：</th>
									<th>歌手名：</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td class="value"><span>第1名</span></td>
									<td class="description"><a href="/artistdetails">Blurred Lines</a></td>
									<td class="value"><span>Robin Thicke</span></td>
								</tr>
								<tr>
									<td class="value"><span>第2名</span></td>
									<td class="description"><a href="/artistdetails">Get Lucky</a></td>
									<td class="value"><span>Daft Punk</span></td>
								</tr>
								<tr>
									<td class="value"><span>第3名</span></td>
									<td class="description"><a href="/artistdetails">We Can't Stop</a></td>
									<td class="value"><span>Miley Cyrus</span></td>
								</tr>
								<tr>
									<td class="value"><span>第4名</span></td>
									<td class="description"><a href="/artistdetails">Radioactive</a></td>
									<td class="value"><span>Imagine Dragons</span></td>
								</tr>
								<tr>
									<td class="value"><span>第5名</span></td>
									<td class="description"><a href="/artistdetails">Can't Hold Us</a></td>
									<td class="value"><span>Macklemore</span></td>
								</tr>
								<tr>
									<td class="value"><span>第6名</span></td>
									<td class="description"><a href="/artistdetails">Cruise</a></td>
									<td class="value"><span>Florida Georigia</span></td>
								</tr>
								<tr>
									<td class="value"><span>第7名</span></td>
									<td class="description"><a href="/artistdetails">Treasure</a></td>
									<td class="value"><span>Bruno Mars</span></td>
								</tr>
								<tr>
									<td class="value"><span>第8名</span></td>
									<td class="description"><a href="/artistdetails">Holy Grail</a></td>
									<td class="value"><span>Jay-Z</span></td>
								</tr>
								<tr>
									<td class="value"><span>第9名</span></td>
									<td class="description"><a href="/artistdetails">Mirrors</a></td>
									<td class="value"><span>Justin Timberlake</span></td>
								</tr>
								<tr>
									<td class="value"><span>第10名</span></td>
									<td class="description"><a href="/artistdetails">Cups</a></td>
									<td class="value"><span>Anna Kendrick</span></td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- /.span4 -->




				</div>
				<!-- /.row -->


			</div>
			<!-- /.container -->

		</div>
		<!-- /#content -->

	</div>
	<!-- /#wrapper -->


{%endblock%}