{%extends "mainpagelayout.html"%} 
{% block title %}用户设置页面{% endblock title %} {%block content%}

<div id="masthead">

	<div class="container">

		<div class="masthead-pad">

			<div class="masthead-text">
				<h2>用户设置:</h2>
				<p>根据信息提示自定义设置您的用户显示信息</p>
			</div>
			<!-- /.masthead-text -->

		</div>

	</div>
	<!-- /.container -->

</div>
<!-- /#masthead -->




<div id="content">

	<div class="container">

		<div class="row">

			<div class="tabbable">

				<div class="span3">

					<ul class="nav nav-tabs nav-stacked">
						<li class="active"><a href="#tab1" data-toggle="tab"> <i
								class="icon-ok"></i> 基本信息 <i class="icon-chevron-right"></i>
						</a></li>
						<li><a href="#tab2" data-toggle="tab"> <i
								class="icon-user"></i> 信息展示 <i class="icon-chevron-right"></i>
						</a></li>
						<li><a href="#tab3" data-toggle="tab"> <i
								class="icon-envelope"></i> 信息提示 <i
								class="icon-chevron-right"></i>
						</a></li>
						<li><a href="#tab4" data-toggle="tab"> <i
								class="icon-money"></i> 使用记录 <i class="icon-chevron-right"></i>
						</a></li>
						<li><a href="#tab5" data-toggle="tab"> <i
								class="icon-bar-chart"></i> 信息反馈 <i
								class="icon-chevron-right"></i>
						</a></li>
					</ul>

				</div>
				<!-- /.span3 -->


				<div class="span9">

					<div class="tab-content">

						<div class="tab-pane active" id="tab1">

							<h2>设置基本信息</h2>

							<p>可以重新设置或者更新用户名，密码，邮箱，以确保帐户安全。</p>

							<br />

							<form id="edit-profile" class="form-horizontal">
								<fieldset>

									<div class="control-group">
										<label class="control-label" for="username">用户名:</label>
										<div class="controls">
											<input type="text" class="input-medium disabled"
												id="username" value="username" disabled="">
											<p class="help-block">登陆注册使用的用户名不可更改</p>
										</div>
										<!-- /controls -->
									</div>
									<!-- /control-group -->

									<div class="control-group">
										<label class="control-label" for="lastname">真实姓名:</label>
										<div class="controls">
											<input type="text" class="input-medium" id="lastname"
												value="张三">
										</div>
										<!-- /controls -->
									</div>
									<!-- /control-group -->


									<div class="control-group">
										<label class="control-label" for="email">Email地址:</label>
										<div class="controls">
											<input type="text" class="input-large" id="email"
												value="exapmle@example.com">
										</div>
										<!-- /controls -->
									</div>
									<!-- /control-group -->


									<br>
									<br>

									<div class="control-group">
										<label class="control-label" for="password1">密码:</label>
										<div class="controls">
											<input type="password" class="input-medium" id="password1"
												value="password">
										</div>
										<!-- /controls -->
									</div>
									<!-- /control-group -->


									<div class="control-group">
										<label class="control-label" for="password2">确认密码:</label>
										<div class="controls">
											<input type="password" class="input-medium" id="password2"
												value="password">
										</div>
										<!-- /controls -->
									</div>
									<!-- /control-group -->



									<br>


									<div class="form-actions">
										<button type="submit" class="btn btn-success">保存改动</button>
										<button class="btn">取消</button>
									</div>
									<!-- /form-actions -->
								</fieldset>
							</form>

						</div>
						<!-- /#tab1 -->


						<div class="tab-pane" id="tab2">

							<h2>Tab #2</h2>

							<p>Aenean interdum faucibus urna, et laoreet dui fringilla
								eu. In sagittis tempor justo, id auctor risus vestibulum sed.
								Nulla facilisi. Phasellus sollicitudin interdum lacus, tincidunt
								rhoncus augue porta et. Cras molestie bibendum sem, nec feugiat
								mauris consectetur vel. Nunc tellus sapien, ornare at
								ullamcorper sed, tempor ut ipsum. Nunc ac purus in quam
								pellentesque aliquam eget sed sapien. Curabitur sed nulla
								libero, eget pellentesque ante. Etiam condimentum pellentesque
								tincidunt. Suspendisse non odio mauris, eget tempor quam.
								Curabitur eget lectus quis metus tempor adipiscing non ut nisi.
								Curabitur sed neque tellus.</p>

							<p>Vestibulum elementum tincidunt est ac placerat. Curabitur
								nulla sapien, sollicitudin sed cursus at, accumsan vel lorem.
								Etiam luctus vulputate suscipit. Nulla cursus enim in urna
								vestibulum auctor. Maecenas ultrices iaculis enim vitae ornare.
								Morbi arcu lorem, tincidunt vitae aliquam non, venenatis quis
								nibh. Pellentesque ornare leo sed lectus malesuada imperdiet.
								Aenean rhoncus, nulla non laoreet lacinia, nisl orci facilisis
								dolor, in rhoncus mauris odio nec ipsum. Phasellus pellentesque
								varius odio nec faucibus. Phasellus a lorem quis ipsum lobortis
								tincidunt in ut quam.</p>

							<p>Cras et nisi ac nulla dictum vulputate. Nam laoreet sapien
								at mi interdum sed molestie quam venenatis. Fusce lacinia
								malesuada erat, id mollis orci lobortis nec. Quisque at nibh
								nunc. Aliquam quam diam, iaculis id sollicitudin sit amet,
								laoreet vel purus. Integer et lectus eget arcu pharetra blandit.
								Vestibulum id vulputate eros. Vivamus non erat urna. Donec
								consectetur scelerisque semper. Proin enim arcu, sodales a
								congue ac, fringilla eu odio. Praesent laoreet nunc eu metus
								ullamcorper vitae lobortis leo interdum. Morbi feugiat ultrices
								diam sed auctor. Donec a dolor sit amet lectus posuere cursus
								vitae quis nulla. Morbi sed mi quis tortor tristique tincidunt
								ac a elit. Donec enim nisl, lobortis eget vehicula eget, auctor
								eget enim.</p>
						</div>
						<!-- /#tab2 -->


						<div class="tab-pane" id="tab3">

							<h2>Tab #3</h2>

							<p>Aenean interdum faucibus urna, et laoreet dui fringilla
								eu. In sagittis tempor justo, id auctor risus vestibulum sed.
								Nulla facilisi. Phasellus sollicitudin interdum lacus, tincidunt
								rhoncus augue porta et. Cras molestie bibendum sem, nec feugiat
								mauris consectetur vel. Nunc tellus sapien, ornare at
								ullamcorper sed, tempor ut ipsum. Nunc ac purus in quam
								pellentesque aliquam eget sed sapien. Curabitur sed nulla
								libero, eget pellentesque ante. Etiam condimentum pellentesque
								tincidunt. Suspendisse non odio mauris, eget tempor quam.
								Curabitur eget lectus quis metus tempor adipiscing non ut nisi.
								Curabitur sed neque tellus.</p>

							<p>Vestibulum elementum tincidunt est ac placerat. Curabitur
								nulla sapien, sollicitudin sed cursus at, accumsan vel lorem.
								Etiam luctus vulputate suscipit. Nulla cursus enim in urna
								vestibulum auctor. Maecenas ultrices iaculis enim vitae ornare.
								Morbi arcu lorem, tincidunt vitae aliquam non, venenatis quis
								nibh. Pellentesque ornare leo sed lectus malesuada imperdiet.
								Aenean rhoncus, nulla non laoreet lacinia, nisl orci facilisis
								dolor, in rhoncus mauris odio nec ipsum. Phasellus pellentesque
								varius odio nec faucibus. Phasellus a lorem quis ipsum lobortis
								tincidunt in ut quam.</p>

							<p>Cras et nisi ac nulla dictum vulputate. Nam laoreet sapien
								at mi interdum sed molestie quam venenatis. Fusce lacinia
								malesuada erat, id mollis orci lobortis nec. Quisque at nibh
								nunc. Aliquam quam diam, iaculis id sollicitudin sit amet,
								laoreet vel purus. Integer et lectus eget arcu pharetra blandit.
								Vestibulum id vulputate eros. Vivamus non erat urna. Donec
								consectetur scelerisque semper. Proin enim arcu, sodales a
								congue ac, fringilla eu odio. Praesent laoreet nunc eu metus
								ullamcorper vitae lobortis leo interdum. Morbi feugiat ultrices
								diam sed auctor. Donec a dolor sit amet lectus posuere cursus
								vitae quis nulla. Morbi sed mi quis tortor tristique tincidunt
								ac a elit. Donec enim nisl, lobortis eget vehicula eget, auctor
								eget enim.</p>
						</div>
						<!-- /#tab3 -->


						<div class="tab-pane" id="tab4">

							<h2>Tab #4</h2>

							<p>Aenean interdum faucibus urna, et laoreet dui fringilla
								eu. In sagittis tempor justo, id auctor risus vestibulum sed.
								Nulla facilisi. Phasellus sollicitudin interdum lacus, tincidunt
								rhoncus augue porta et. Cras molestie bibendum sem, nec feugiat
								mauris consectetur vel. Nunc tellus sapien, ornare at
								ullamcorper sed, tempor ut ipsum. Nunc ac purus in quam
								pellentesque aliquam eget sed sapien. Curabitur sed nulla
								libero, eget pellentesque ante. Etiam condimentum pellentesque
								tincidunt. Suspendisse non odio mauris, eget tempor quam.
								Curabitur eget lectus quis metus tempor adipiscing non ut nisi.
								Curabitur sed neque tellus.</p>

							<p>Vestibulum elementum tincidunt est ac placerat. Curabitur
								nulla sapien, sollicitudin sed cursus at, accumsan vel lorem.
								Etiam luctus vulputate suscipit. Nulla cursus enim in urna
								vestibulum auctor. Maecenas ultrices iaculis enim vitae ornare.
								Morbi arcu lorem, tincidunt vitae aliquam non, venenatis quis
								nibh. Pellentesque ornare leo sed lectus malesuada imperdiet.
								Aenean rhoncus, nulla non laoreet lacinia, nisl orci facilisis
								dolor, in rhoncus mauris odio nec ipsum. Phasellus pellentesque
								varius odio nec faucibus. Phasellus a lorem quis ipsum lobortis
								tincidunt in ut quam.</p>

							<p>Cras et nisi ac nulla dictum vulputate. Nam laoreet sapien
								at mi interdum sed molestie quam venenatis. Fusce lacinia
								malesuada erat, id mollis orci lobortis nec. Quisque at nibh
								nunc. Aliquam quam diam, iaculis id sollicitudin sit amet,
								laoreet vel purus. Integer et lectus eget arcu pharetra blandit.
								Vestibulum id vulputate eros. Vivamus non erat urna. Donec
								consectetur scelerisque semper. Proin enim arcu, sodales a
								congue ac, fringilla eu odio. Praesent laoreet nunc eu metus
								ullamcorper vitae lobortis leo interdum. Morbi feugiat ultrices
								diam sed auctor. Donec a dolor sit amet lectus posuere cursus
								vitae quis nulla. Morbi sed mi quis tortor tristique tincidunt
								ac a elit. Donec enim nisl, lobortis eget vehicula eget, auctor
								eget enim.</p>
						</div>
						<!-- /#tab4 -->


						<div class="tab-pane" id="tab5">

							<h2>Tab #5</h2>

							<p>Aenean interdum faucibus urna, et laoreet dui fringilla
								eu. In sagittis tempor justo, id auctor risus vestibulum sed.
								Nulla facilisi. Phasellus sollicitudin interdum lacus, tincidunt
								rhoncus augue porta et. Cras molestie bibendum sem, nec feugiat
								mauris consectetur vel. Nunc tellus sapien, ornare at
								ullamcorper sed, tempor ut ipsum. Nunc ac purus in quam
								pellentesque aliquam eget sed sapien. Curabitur sed nulla
								libero, eget pellentesque ante. Etiam condimentum pellentesque
								tincidunt. Suspendisse non odio mauris, eget tempor quam.
								Curabitur eget lectus quis metus tempor adipiscing non ut nisi.
								Curabitur sed neque tellus.</p>

							<p>Vestibulum elementum tincidunt est ac placerat. Curabitur
								nulla sapien, sollicitudin sed cursus at, accumsan vel lorem.
								Etiam luctus vulputate suscipit. Nulla cursus enim in urna
								vestibulum auctor. Maecenas ultrices iaculis enim vitae ornare.
								Morbi arcu lorem, tincidunt vitae aliquam non, venenatis quis
								nibh. Pellentesque ornare leo sed lectus malesuada imperdiet.
								Aenean rhoncus, nulla non laoreet lacinia, nisl orci facilisis
								dolor, in rhoncus mauris odio nec ipsum. Phasellus pellentesque
								varius odio nec faucibus. Phasellus a lorem quis ipsum lobortis
								tincidunt in ut quam.</p>

							<p>Cras et nisi ac nulla dictum vulputate. Nam laoreet sapien
								at mi interdum sed molestie quam venenatis. Fusce lacinia
								malesuada erat, id mollis orci lobortis nec. Quisque at nibh
								nunc. Aliquam quam diam, iaculis id sollicitudin sit amet,
								laoreet vel purus. Integer et lectus eget arcu pharetra blandit.
								Vestibulum id vulputate eros. Vivamus non erat urna. Donec
								consectetur scelerisque semper. Proin enim arcu, sodales a
								congue ac, fringilla eu odio. Praesent laoreet nunc eu metus
								ullamcorper vitae lobortis leo interdum. Morbi feugiat ultrices
								diam sed auctor. Donec a dolor sit amet lectus posuere cursus
								vitae quis nulla. Morbi sed mi quis tortor tristique tincidunt
								ac a elit. Donec enim nisl, lobortis eget vehicula eget, auctor
								eget enim.</p>
						</div>
						<!-- /#tab5 -->

					</div>
					<!-- /.tab-content -->

				</div>
				<!-- /.span9 -->

			</div>
			<!-- /.tabbable -->

		</div>
		<!-- /.row -->


	</div>
	<!-- /.container -->

</div>
<!-- /#content -->

</div>
<!-- /#wrapper -->

{%endblock%}
