{%include "layoutheader.html" %}
<!--==动态加载title的方法-->
{% block title %}test页面{% endblock title %}

<div id="masthead">
	<div class="container">
		<div class="masthead-pad">
			<div class="masthead-text">
				<h2>test页面</h2>
				<p>test测试展示内容，点击jquery表表头可以排序相应展示内容</p>
			</div>
			<!-- /.masthead-text -->
		</div>
	</div>
	<!-- /.container -->
</div>


<div id="content">
	<div class="container">
			<div class="row">
				<h4 class="header smaller lighter blue">jQuery歌手详情列表</h4>
			<!-- #
				 <table>
            			{{ form.as_table }}
            			{%for artist in artistlines%}
            			<tr>
						<td><a href="#">{{ artist.0}}</a></td>
						<td>{{ artist.0}}</td>
						<td class="hidden-480">{{artist.1}}</td>
						</tr>
						{%endfor%}
         		    </table>
         		<!-- #form astable结束 -->
				<div class="table-responsive">
					<table id="sample-table-2"
						class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center"><label> <input type="checkbox"
										class="ace" /> <span class="lbl"></span>
								</label></th>
									<th><span class="label label-info"><i class="icon-music"> </i>歌手名</span></th>
									<th><span class="label label-info"><i class=" icon-bar-chart"> </i>排行榜</span></th>
									<th><span class="label label-info"><i class=" icon-rss"><span></span></i>播放次数</span></th>
									<th><span class="label label-info"><i class=" icon-time"><span></span></i>播放时长</span></th>
									<th><span class="label label-info"><i class=" icon-heart"><span></span></i>热度评级</span></th>
									<th><span class="label label-info"><i class="icon-cog"><span></span></i>信息更改</span></th>
							</tr>
						</thead>
						<tbody>
						{%for info in infolist%}
							<tr>
								<td class="center"><label> <input type="checkbox"
										class="ace" /> <span class="lbl"></span>
								</label></td>
								<td><a href="#">{{ info.artist}}</a></td>
								<td>{{ info.rank}}</td>
								<td class="hidden-480">{{ info.play_num}}次</td>
								<td>{{info.play_time}}分钟</td>
								<td class="hidden-480"><span class="label label-sm label-success">热度上升</span></td>
								
								<td>
									<div
										class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
										<a class="blue" href="#"> <i class="icon-plus-sign-alt"></i>
										</a> <a class="green" href="#"> <i
											class="icon-pencil bigger-130"></i>
										</a> <a class="red" href="#"> <i class="icon-trash bigger-130"></i>
										</a>
									</div>

									<div class="visible-xs visible-sm hidden-md hidden-lg">
										<div class="inline position-relative">

											<ul
												class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
												<li><a href="#" class="tooltip-info" data-rel="tooltip"
													title="View"> <span class="blue"> <i
															class="icon-zoom-in bigger-120"></i>
													</span>
												</a></li>

												<li><a href="#" class="tooltip-success"
													data-rel="tooltip" title="Edit"> <span class="green">
															<i class="icon-plus-sign-alt bigger-120"></i>
													</span>
												</a></li>

												<li><a href="#" class="tooltip-error"
													data-rel="tooltip" title="Delete"> <span class="red">
															<i class="icon-trash bigger-120"></i>
													</span>
												</a></li>
											</ul>
										</div>
									</div>
								</td>
								
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div><!-- PAGE CONTENT ENDS -->

	<!-- /.col -->
	<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<!-- page specific plugin scripts -->
<script src="/static/js/page1js/ace-extra.min.js"></script>
<script src="/static/js/page1js/jquery.dataTables.min.js"></script>
<script src="/static/js/page1js/jquery.dataTables.bootstrap.js"></script>
<!-- ace scripts -->

<script type="text/javascript">
	jQuery(function($) {
		var oTable1 = $('#sample-table-2').dataTable({
			"aoColumns" : [ {
				"bSortable" : false
			}, null, null, null, null, null, {
				"bSortable" : false
			} ]
		});

		$('table th input:checkbox').on(
				'click',
				function() {
					var that = this;
					$(this).closest('table').find(
							'tr > td:first-child input:checkbox').each(
							function() {
								this.checked = that.checked;
								$(this).closest('tr').toggleClass('selected');
							});

				});

		$('[data-rel="tooltip"]').tooltip({
			placement : tooltip_placement
		});
		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('table')
			var off1 = $parent.offset();
			var w1 = $parent.width();

			var off2 = $source.offset();
			var w2 = $source.width();

			if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2))
				return 'right';
			return 'left';
		}
	})
</script>
</body>
</html>