<!--======用户登录页面======-->
{%extends "mainpagelayout.html"%} 
<!--==动态加载title的方法-->
{% block title %}用户登陆页面{% endblock title %}

 {%block content%}

<body class="login">
	<div class="account-container login stacked">
		<div class="content clearfix">
			<form action="" method="post">
				<h1>登陆账户:</h1>
				<div class="login-fields">
					<p>使用您注册的用户名密码登陆系统</p>
					{%csrf_token%}
					<h4 style='color: red'>{{error}}</h4>
					<!-- 
					<div class="input-prepend">
						<span class="add-on"><i class="icon-user"></i></span> <input
							class="span3" type="text" placeholder="输入用户名">
					</div>
					<div class="input-prepend">
						<span class="add-on"><i class="icon-key"></i></span> <input
							class="span3" type="password" placeholder="输入密码">
					</div>
					<!-- -->
					<div class="field">
						<label for="username">用户名:</label><input type="text"
							id="username" name="username" value="" placeholder="输入用户名"
							class="login username-field" />
					</div>
					<!-- /field -->
					<div class="field">
						<label for="password">密码:</label><input type="password"
							id="password" name="password" value="" placeholder="输入密码"
							class="login password-field" />
					</div>
					<!-- /password -->

				</div>
				<!-- /login-fields -->
				<div class="login-actions">
					 <label class="checkbox"><input type="checkbox" /> 记录登录状态</label>
					<button class="button btn btn-success " type="submit">点击登陆</button>
					<input type="hidden" name="next" value="/" />
				</div>
				<!-- .actions -->

				<!-- #使用其他帐号登陆
			<div class="login-social">
				<p>Sign in using social network:</p>
				
				<div class="QQ">
					<a href="#" class="btn_1">使用QQ帐号登陆</a>				
				</div>
				
				<div class="sinaweibo">
					<a href="#" class="btn_2">使用微博登陆</a>				
				</div>
			</div>
			<!--##使用其他帐号登陆end-->
			</form>
		</div>
		<!-- /content -->
	</div>
	<!-- /account-container -->

	<!-- Text Under Box -->
	<div class="login-extra">
		还没有注册用户? <a href="/usersignup">注册新用户</a><br />
	</div>
	<!-- /login-extra -->
	{% endblock %}