<!--======用户注册页面======-->
{%extends "mainpagelayout.html"%} 
<!--==动态加载title的方法-->
{% block title %}新用户注册页面{% endblock title %}
 {%block content%}

<body class="login">
	<div class="account-container register stacked">
		<div class="content clearfix">
			<form action="." method="POST">
				{%csrf_token%}
				<h1>新用户注册:</h1>
				<!-- #使用其他方式登陆
			<div class="login-social">
				<p>Sign in using social network:</p>
				
				<div class="QQ">
					<a href="#" class="btn_1">使用QQ登陆</a>				
				</div>
				
				<div class="sinaweibo">
					<a href="#" class="btn_2">使用新浪微博</a>				
				</div>
			</div>
			<!-- ##使用其他方式登陆 end -->
				<div class="login-fields">
					<p>根据相应提示信息创建新的用户：</p>
					<h4 style='color: red'>{{error}}</h4>
					<div class="field">
						<label>用户名：<span class="color-red">*</span></label> <input
							type="text" id="username" name="username" value=""
							placeholder="设置用户名，6位以上字母数字组合" class="login" />
					</div>
					<!-- /field -->

					<div class="field">
						<label>邮箱：<span class="color-red">*</span></label> <input
							type="email" id="email" name="email" value=""
							placeholder="使用您的Email" class="login" />
					</div>
					<!-- /field -->

					<div class="field">
						<label>密码：<span class="color-red">*</span></label> <input
							type="password" id="password1" name="password1" value=""
							placeholder="设置密码，6位以上字母数字组合" class="login" />
					</div>
					<!-- /field -->

					<div class="field">
						<label>密码确认：<span class="color-red">*</span></label> <input
							type="password" id="password2" name="password2"
							value="" placeholder="再次输入密码" class="login" />
					</div>
					<!-- /field -->

				</div>
				<!-- /login-fields -->

				<div class="login-actions">

					<button class="button btn btn-success " type="submit">确认注册</button>
					<input type="hidden" name="next" value="/" />

				</div>
				<!-- .actions -->

			</form>

		</div>
		<!-- /content -->

	</div>
	<!-- /account-container -->


	<!-- Text Under Box -->
	<div class="login-extra">
		已经注册完成? <a href="/userlogin">点击登陆</a>
	</div>
	<!-- /login-extra -->

	{% endblock %}